{% extends 'association/base_association.html' %}

{% block page_seo %}
    {% if object.folder %}
        {% include 'common/title.html' with title="Renommage de /"|add:object.folder.path|add:"/"|add:object.name name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title="Renommage de /"|add:object.name name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block page_sub_title %}
  Renommage d'un fichier ressource
{% endblock %}

{% block quick_actions %}
    {% if object.folder.id %}
    {% url 'resource-folder-list' folder_pk=object.folder.id as cancel_url %}
    {% else %}
    {% url 'resource-folder-list' as cancel_url %}
    {% endif %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <strong>Attention !</strong> Vous vous apprêtez à renommer le fichier ressource ayant pour chemin <em>/{% if object.folder %}{{ object.folder.path }}/{% endif %}{{ object.name }}</em>.
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Nom du fichier</label>
                    <input type="text" class="form-control" name="name" value="{{ object.name }}"
                           maxlength="200" required="" id="id_name" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">N'oubliez pas de préciser l'extension du fichier avant de renommer votre fichier.</small>
                </div>
                <p class="text-center">
                    <button type="submit" class="btn btn-success"><i aria-hidden="true" class="fa fa-save"></i> Renommer le fichier</button>
                </p>
                <script type="application/javascript">
                    document.querySelector('#id_name').addEventListener('focusin', (event) => {
                        const pos = event.target.value.indexOf('.');
                        event.target.setSelectionRange(0, (pos !== -1) ? pos : event.target.value.length);
                    });
                </script>
            </form>
        </div>
  </div>
{% endblock %}