{% extends 'common/base.html' %}

{% block page_seo %}
    {% if association.acronym %}
        {% include 'common/title.html' with title=association.name|add:" ("|add:association.acronym|add:")" name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title=association.name name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block page_title %}
  {{ association.name }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <div class="list-group table-of-contents">
        <a class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'association-detail' %} active{% endif %}" href="{% url 'association-detail' association.id %}"><i aria-hidden="true" class="fa fa-eye"></i> Vue générale</a>
        <a class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'association-requirement-list' %} active{% endif %}" href="{% url 'association-requirement-list' association.id %}"><i aria-hidden="true" class="fa fa-check-square-o"></i> Situation administrative</a>
        <a class="list-group-item list-group-item-action{% if 'association-file' in request.resolver_match.url_name or request.resolver_match.url_name == 'association-resource-tree' %} active{% endif %}" href="{% url 'association-file-tree' association.id %}"><i aria-hidden="true" class="fa fa-file"></i> Fichiers</a>
        <a class="list-group-item list-group-item-action{% if 'association-directory' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'association-directory-detail' association.id %}"><i aria-hidden="true" class="fa fa-book"></i> Bot'INSA</a>
        <a class="list-group-item list-group-item-action{% if 'association-mandate' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'association-mandate-list' association.id %}"><i aria-hidden="true" class="fa fa-users"></i> Mandats (bureaux)</a>
        <a class="list-group-item list-group-item-action{% if 'association-event' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'association-event-list' association.id %}"><i aria-hidden="true" class="fa fa-calendar-check-o"></i> Evénements</a>
        <a class="list-group-item list-group-item-action{% if 'association-article' in request.resolver_match.url_name %} active{% endif %}" href="{% url 'association-article-list' association.id %}"><i aria-hidden="true" class="fa fa-pencil"></i> Articles</a>
      </div>
    </div>
    <div class="col-md-9">
      {% block content_association %}{% endblock %}
    </div>
  </div>
{% endblock %}