{% extends 'association/base_association.html' %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Vue générale de "|add:association.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Vue générale
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-update' association.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i>
        Modifier les informations</a>
{% endblock %}

{% block content_association %}
    {% if request.user.is_active and request.user.is_staff %}
    <strong>Statut de l'association</strong>
    <div class="row mb-4" style="margin-top: 2vh; margin-bottom: -2vh;">
        <div class="col-md-3">
            {% if object.is_validated %}
            <p><span class="dot dot-active"></span>  Est validée</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  N'est pas validée</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if object.is_active %}
            <p><span class="dot dot-active"></span>  Est active</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Est morte</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if object.has_place %}
            <p><span class="dot dot-active"></span>  Dispose d'un local</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Ne dispose pas de local</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if object.has_cave %}
            <p><span class="dot dot-active"></span>  Dispose d'une cave</p>
            {% else %}
            <p><span class="dot dot-inactive"></span>  Ne dispose pas de cave</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% include "common/detail/base_field.html" with title="Nom officiel de l'association" value=object.name only %}
    <div class="row mb-3">
        <div class="col-md-4">
            <strong>Catégorie d'association</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.category.name }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Nom usuel ou acronyme</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.acronym %}
                        {{ object.acronym }}
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Référent CVA</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% for user in object.moderated_by.all %}
                        {{ user.email }}
                    {% empty %}
                        <em>Non défini</em>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <strong>Nombre d'adhérent</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {{ object.all_members_number }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Nombre de membres actifs</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {{ object.active_members_number }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <strong>Date de création</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.created_officially_at %}
                        {{ object.created_officially_at }}
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Description <small class="text-muted">(non visible dans le Bot'INSA)</small></strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.description }}</div>
            </div>
        </div>
    </div>
    {% if request.user.is_active and request.user.is_staff %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Commentaires <small class="text-muted">(non visible pour les non-administateurs)</small></strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.commentary }}</div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include "common/detail/double_field.html" with titleFirst="IBAN" valueFirst=object.iban titleSecond="BIC" valueSecond=object.bic only %}
    {% include "common/detail/double_field.html" with titleFirst="Numéro RNA" valueFirst=object.rna titleSecond="Numéro SIREN" valueSecond=object.siren only %}

    {% if object.has_place %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Local associatif occupé <small class="text-muted">(renseigné par la DGS ou le CVA)</small></strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.room_id %}
                        <a href="http://www.openstreetmap.org/?mlat={{ object.room.lat|unlocalize }}&mlon={{ object.room.long|unlocalize }}&zoom=18">
                            {{ object.room.name }}
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if object.has_cave %}
    <div class="row mb-3">
        <div class="col-md-12">
            <strong>Cave associative occupée <small class="text-muted">(renseignée par la DGS ou le CVA)</small></strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.cave_id %}
                        <a href="http://www.openstreetmap.org/?mlat={{ object.cave.lat|unlocalize }}&mlon={{ object.cave.long|unlocalize }}&zoom=18">
                            {{ object.cave.name }}
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include "common/detail/link_field.html" with title="URL du logo" link=object.logo_url only %}
    {% include "common/detail/image_field.html" with title="Aperçu du logo" link=object.logo_url only %}
    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>

{% endblock %}