{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Annuaire des associations" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Annuaire des associations
{% endblock %}

{% block content %}
<div class="row">
    <div class="table-responsive">
        <table id="prettyTable" class="table table-bordered responsive" data-page-length="50" aria-label="Liste des contacts associatifs">
            <thead>
            <tr>
                <th>Nom de l'association</th>
                <th>Nom du président</th>
                <th>Email de contact</th>
                <th>Numéro de téléphone</th>
                <th>Fin du mandat</th>
            </tr>
            </thead>
            <tbody>
            {% for association in object_list %}
                {% with mandate=association.mandates.last %}
                    <tr>
                        {% if request.user.is_active and request.user.is_staff %}
                            <td>
                            {% if not association.acronym %}
                                <a href="{% url 'association-detail' association.id %}">{{ association.name }}</a>
                            {% else %}
                                <a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small>
                            {% endif %}
                            </td>
                        {% else %}
                            <td>
                            {% if not association.acronym %}
                                {{ association.name }}
                            {% else %}
                                {{ association.acronym }} <small>({{ association.name }})</small>
                            {% endif %}
                            </td>
                        {% endif %}
                        {% with president=mandate.get_president.first %}
                            <td>{{ president.last_name|upper }} {{ president.first_name|title }}</td>
                            <td>
                                <a href="mailto:{{ association.directory_entries.last.contact_address }}">
                                    {{ association.directory_entries.last.contact_address }}
                                </a>
                            </td>
                            <td>
                                {% if mandate.share_phone %}{{ president.phone }}{% else %}Privé{% endif %}
                            </td>
                        {% endwith %}
                        <td data-order="{{ mandate.ends_at|date:"U" }}">{{ mandate.ends_at|date:'DATE_FORMAT' }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
