{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des associations" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des associations
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped datatables" data-order="[[ 2, &quot;desc&quot; ]]" data-page-length="100" aria-label="Liste des associations">
            <thead>
            <tr>
                <th>Acronyme - Nom</th>
                <th>Validée</th>
                <th>Active</th>
                <th data-orderable="false">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for association in object_list %}
                <tr>
                    {% if not association.acronym %}
                        <td><a href="{% url 'association-detail' association.id %}">{{ association.name }}</a></td>
                    {% else %}
                        <td><a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small></td>
                    {% endif %}
                    <td data-order="{{ association.is_validated }}">
                        <i aria-hidden="true" class="fa fa-{% if association.is_validated %}check{% else %}times{% endif %}"></i>
                    </td>
                    <td data-order="{{ association.is_active }}">
                        <i aria-hidden="true" class="fa fa-{% if association.is_active %}check{% else %}times{% endif %}"></i>
                    </td>
                    <td>
                        <a href="{% url 'association-update' association.id %}" data-toggle="tooltip"
                           title="Modifier les informations"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                        <a href="{% url 'association-delete' association.id %}" data-toggle="tooltip"
                           title="Supprimer l'association"><i aria-hidden="true" class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
