{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Modification de l'association "|add:association.name name=app.site.litteral_name only %}
{% endblock %}

{% if request.user.is_staff %}
{% load static %}
{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
{% endblock %}
{% endif %}

{% block page_sub_title %}
  Modifier les informations
{% endblock %}

{% block quick_actions %}
    {% url 'association-detail' association.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="associationForm" only %}
{% endblock %}

{% block content_association %}
    {% crispy form %}
{% endblock %}

{% if request.user.is_staff %}
{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/association.min.js" %}"></script>
{% endblock %}
{% endif %}