{% extends 'common/base.html' %}
{% load humanize %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Détail de la ressource outil "|add:object.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Détail d'une ressource outil
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'tool-list' %}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-list"></i> Retourner à la liste</a>
{% if perms.utils.delete_tool %}
    <a href="{% url 'tool-delete' object.id %}" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i> Supprimer</a>
{% endif %}
{% if perms.utils.change_tool %}
    <a href="{% url 'tool-update' object.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Mettre à jour</a>
{% endif %}
{% endblock %}

{% block content %}
    {% include "common/detail/base_field.html" with title="Nom" value=object.name only %}
    {% include "common/detail/base_field.html" with title="Type" value=object.get_type_display only %}
    {% include "common/detail/base_field.html" with title="Icône" value=object.content only %}
    {% include "common/detail/base_field.html" with title="Resource à utiliser" value=object.resource only %}
    {% include "common/detail/base_field.html" with title="Description" value=object.description only %}
    {% include "common/detail/base_field.html" with title="Position" value=object.position only %}
    <strong>Statut de la ressource outil</strong>
    <div class="row mb-3 text-center">
        <div class="col-md-12">
            <p>{% if object.is_global %}<span class="dot dot-active"></span>  Est globale{% else %}<span class="dot dot-inactive"></span>  N'est pas globale{% endif %}</p>
        </div>
    </div>
    {% include "common/detail/base_field.html" with title="Date et heure de début" value=object.begins_at|date:'DATETIME_FORMAT' only %}
    {% include "common/detail/base_field.html" with title="Date et heure de fin" value=object.ends_at|date:'DATETIME_FORMAT' only %}
    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>
{% endblock %}