{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des ressources outil" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des ressources outil
{% endblock %}

{% block quick_actions %}
{% if perms.utils.add_tool %}
    <a href="{% url 'tool-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
            <table id="prettyTable" class="table table-bordered table-stripped responsive nowrap" aria-label="Liste des ressources outil">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Position</th>
                    <th data-orderable="false">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for tool in object_list %}
                    <tr>
                        <td><a href="{% url 'tool-detail' tool.id %}">{{ tool.name }}</a></td>
                        <td>{{ tool.get_type_display }}</td>
                        <td>{{ tool.description }}</td>
                        <td data-order="{{ tool.position }}">{{ tool.position }}</td>
                        <td>
                            <a href="{{ tool.resource }}" rel="noreferrer noopener" target="_blank" data-toggle="tooltip" title="Voir la cible de la ressource">
                                <i aria-hidden="true" class="fa fa-eye"></i></a>
                            {% if perms.utils.change_tool %}
                            <a href="{% url 'tool-update' tool.id %}" data-toggle="tooltip" title="Modifier">
                                <i aria-hidden="true" class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if perms.utils.delete_tool %}
                            <a href="{% url 'tool-delete' tool.id %}" data-toggle="tooltip" title="Supprimer">
                                <i aria-hidden="true" class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5"><em>Aucune ressource outil à afficher.</em></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
