{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Locaux associatifs" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
<link rel="stylesheet" href="{% static "bundle/css/map.min.css" %}"/>
<link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Lieux associatifs
{% endblock %}

{% block content %}
<div class="col-md-12 mx-auto">
    <p>Vous trouverez ici une carte représentant l'ensemble des locaux et des caves associatives enregistrés sur la plateforme, ainsi qu'une liste détaillée par la suite.</p>
    <h3>Carte</h3><hr/>
    <div id="map"></div><br/>
    <h3>Liste des lieux associatifs</h3><hr/>
    <ul class="nav nav-pills justify-content-center" id="selectionTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link nav-left active" id="place-tab" data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms" aria-selected="true">Locaux</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link nav-right" id="cave-tab" data-toggle="tab" href="#caves" role="tab" aria-controls="caves" aria-selected="false">Caves</a>
        </li>
    </ul>
    <div class="tab-content" id="selectionTabContent">
        <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
            <div class="table-responsive" id="rooms">
                <table id="prettyTable" class="table table-bordered table-stripped" aria-label="Liste des locaux">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Informations</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for place in locals %}
                        <tr>
                            <td>
                                <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                    {{ place.name }}
                                </a>
                            </td>
                            <td>
                                {% with count=place.association.all|length %}
                                    {% if count < 1 %}
                                        <strong class="text-danger">Ce local n'a aucune association attachée !</strong>
                                    {% else %}
                                        {{ count }} association{% if count > 1%}s{% endif %}
                                        <ul>
                                            {% for asso in place.association.all %}
                                            <li>{% if not asso.acronym %}{{ asso.name }}{% else %}{{ asso.acronym }} <small>({{ asso.name }})</small>{% endif %} <a href="{% url 'association-detail' asso.id %}" data-toggle="tooltip" title="Voir"><i aria-hidden="true" class="fa fa-eye"></i></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="caves" role="tabpanel" aria-labelledby="caves-tab">
            <div class="table-responsive">
                <table id="prettyTable2" class="table table-bordered table-stripped responsive nowrap" aria-label="Liste des caves">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Informations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for place in caves %}
                        <tr>
                            <td>
                                <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                    {{ place.name }}
                                </a>
                            </td>
                            <td>
                                {% with count=place.stockage.all|length %}
                                    {% if count < 1 %}
                                        <strong class="text-danger">Cette cave n'a aucune association attachée !</strong>
                                    {% else %}
                                        {{ count }} association{% if count > 1%}s{% endif %}
                                        <ul>
                                            {% for asso in place.stockage.all %}
                                            <li>{% if not asso.acronym %}{{ asso.name }}{% else %}{{ asso.acronym }} <small>({{ asso.name }})</small>{% endif %} <a href="{% url 'association-detail' asso.id %}" data-toggle="tooltip" title="Voir"><i aria-hidden="true" class="fa fa-eye"></i></a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ locals_data|json_script:"places-data" }}
<script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
<script type="text/javascript" src="{% static "bundle/js/map.min.js" %}"></script>
{% endblock %}
