{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des lieux" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des lieux
{% endblock %}

{% block quick_actions %}
{% if perms.utils.add_place %}
    <a href="{% url 'place-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="table-responsive">
            <table id="prettyTable" class="table table-bordered table-stripped responsive nowrap" aria-label="Liste des lieux">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Est un local ?</th>
                    <th>Est une cave ?</th>
                    {% if perms.utils.change_place or perms.utils.delete_place %}
                    <th data-orderable="false">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for place in object_list %}
                    <tr>
                        <td>
                            <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                {{ place.name }}
                            </a>
                        </td>
                        <td>{{ place.lat }}</td>
                        <td>{{ place.long }}</td>
                        <td>
                            <i aria-hidden="true" class="fa fa-{% if place.is_room %}check{% else %}times{% endif %}"></i>
                        </td>
                        <td>
                            <i aria-hidden="true" class="fa fa-{% if place.is_cave %}check{% else %}times{% endif %}"></i>
                        {% if perms.utils.change_place or perms.utils.delete_place %}
                        </td>
                        <td>
                            {% if perms.utils.change_place %}
                            <a href="{% url 'place-update' place.id %}" data-toggle="tooltip" title="Modifier">
                                <i aria-hidden="true" class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if perms.utils.delete_place %}
                            <a href="{% url 'place-delete' place.id %}" data-toggle="tooltip" title="Supprimer">
                                <i aria-hidden="true" class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
