{% extends 'association/base_association.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des événements" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_sub_title %}
  Événements
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-event-new' association.id %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content_association %}
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
          <a class="nav-link active" href="#current_or_coming" aria-controls="home" role="tab" data-toggle="tab">En cours ou à venir</a>
      </li>
      <li role="presentation" class="nav-item">
          <a class="nav-link" href="#past" aria-controls="profile" role="tab" data-toggle="tab">Passés</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active table-responsive" id="current_or_coming">
          <table class="table table-bordered table-stripped" aria-label="Liste des évènements en cours ou à venir">
            <thead>
              <tr>
                <th>Nom de l'événement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for event in object_list %}
                <tr>
                  <td><a href="{% url 'association-event-detail' association.id event.id %}">{{ event.name }}</a></td>
                  <td data-order="{{ event.begins_at|date:"U" }}">{{ event.begins_at|date }}</td>
                  <td data-order="{{ event.ends_at|date:"U" }}">{{ event.ends_at|date }}</td>
                  <td>
                    {% if event.is_online %}
                      <a data-toggle="tooltip" title="Publié"><i aria-hidden="true" class="fa fa-check"></i></a>
                    {% elif event.comments %}
                      <a data-toggle="tooltip" title="Demande de changements"><i aria-hidden="true" class="fa fa-warning"></i></a>
                    {% elif event.is_draft %}
                      <a data-toggle="tooltip" title="Brouillon"><i aria-hidden="true" class="fab fa-firstdraft"></i></a>
                    {% else %}
                      <a data-toggle="tooltip" title="Non publié"><i aria-hidden="true" class="fa fa-times"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5"><em>Aucun événement en cours ou à venir.</em></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div role="tabpanel" class="tab-pane table-responsive" id="past">
          <table id="prettyTable2" class="table table-bordered table-stripped" aria-label="Liste des évènements passés">
            <thead>
              <tr>
                <th>Nom de l'événement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for event in past_events %}
                <tr>
                  <td><a href="{% url 'association-event-detail' association.id event.id %}">{{ event.name }}</a></td>
                  <td data-order="{{ event.begins_at|date:"U" }}">{{ event.begins_at|date }}</td>
                  <td data-order="{{ event.ends_at|date:"U" }}">{{ event.ends_at|date }}</td>
                  <td>
                    {% if event.is_online %}
                      <a data-toggle="tooltip" title="Publié"><i aria-hidden="true" class="fa fa-check"></i></a>
                    {% elif event.comments %}
                      <a data-toggle="tooltip" title="Demande de changements"><i aria-hidden="true" class="fa fa-warning"></i></a>
                    {% elif event.is_draft %}
                      <a data-toggle="tooltip" title="Brouillon"><i aria-hidden="true" class="fab fa-firstdraft"></i></a>
                    {% else %}
                      <a data-toggle="tooltip" title="Non publié"><i aria-hidden="true" class="fa fa-times"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
