{% extends "common/base.html" %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Calendrier prévisionnel de la VA" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
<link rel="stylesheet" href="{% static "bundle/css/calendar.min.css" %}"/>
<script id="eventData" type="application/json">
{
    "calendarType": "draft",
    "events": [{% for event in object_list.events %}
        {
            "id": {{ event.id }},
            "name": "{{ event.name|escapejs|safe }}",
            "type": {"name": "{{ event.type.name|default_if_none:"" }}","color": "{{ event.type.color|default_if_none:"" }}"},
            "association": {"acronym": "{{ event.association.acronym|default_if_none:""|escapejs|safe }}","name": "{{ event.association.name|escapejs|safe }}"},
            "begins_at": "{{ event.begins_at.isoformat }}",
            "ends_at": "{{ event.ends_at.isoformat }}",
            "draft": {{ event.is_draft|lower }},
            "online": {{ event.is_online|lower }}
        }{% if not forloop.last %},{% endif %}
    {% endfor %}],
    "APIUrl": "{% url "api-v1-event-index" %}"
}
</script>
{% endblock %}

{% block page_title %}
	Calendrier prévisionnel des évènements
{% endblock %}

{% block content %}
	<p>Vous trouverez sur ce calendrier les évènements publiés à l'état de brouillon, en attente de validation, ou encore validés par le CVA.</p>
    <hr/>
    <p><i aria-hidden="true" class="fa fa-mouse-pointer"></i> Cliquez sur les évènements pour obtenir plus de détails sur eux.</p>
    <div class="row mb-4">
        <div class="col-md-8 col-sm-10">
            <label for="event_selector"><i aria-hidden="true" class="fa fa-filter"></i> Filtrer les évènements</label>
            <select id="event_selector" class="form-control">
                <option value="all" selected>Voir tout</option>
                <option value="offline">Uniquement les brouillons + non-publiés</option>
                <option value="0">Uniquement les brouillons</option>
                <option value="1">Uniquement les évènements non-publiés</option>>
                <option value="2">Uniquement les evènements publiés</option>
            </select>
        </div>
    </div>
    <div id="calendar"></div>

    {% include 'event/calendar_modal.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/calendar.min.js" %}"></script>
{% endblock %}
