<div id="modal-event" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-event-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-event-title" class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-event-content" class="container-fluid"></div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    {% if user.is_superuser %}
                        <a href="{% url 'association-event-detail' 0 0 %}" class="btn btn-light">
                            <i aria-hidden="true" class="fa fa-eye"></i> Admin
                        </a>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i> Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>