{% extends "common/base.html" %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Calendrier de la VA" name=app.site.litteral_name only %}
    {% url 'public-calendar-view' as link_url %}
    {% include 'common/seo_meta.html' with title="Calendrier de la VA" link=site_url|add:link_url description="Le calendrier de la VA vous permet de retrouver l'ensemble des évènements associatifs à venir sur les campus de l'INSA de Lyon." only %}
{% endblock %}

{% block css_js_header %}
<link rel="stylesheet" href="{% static "bundle/css/calendar.min.css" %}"/>
<script id="eventData" type="application/json">
{
    "APIUrl": "{% url "api-v1-event-index" %}",
    "calendarType": "public",
    "events": [{% for event in object_list.all_events %}
        {
            "id": {{ event.id }},
            "name": "{{ event.name|escapejs|safe }}",
            "type": {"name": "{{ event.type.name|default_if_none:"" }}", "color": "{{ event.type.color|default_if_none:"" }}"},
            "association": {"acronym": "{{ event.association.acronym|default_if_none:""|escapejs|safe }}", "name": "{{ event.association.name|escapejs|safe }}"},
            "begins_at": "{{ event.begins_at.isoformat }}",
            "ends_at": "{{ event.ends_at.isoformat }}"
        }{% if not forloop.last %},{% endif %}
    {% endfor %}]
}
</script>
{% endblock %}

{% block page_title %}
	Calendrier des évènements
{% endblock %}

{% block content %}
	<p>Abonnez-vous à ce calendrier pour vous tenir au courant des évènements à venir</p>
    <div class="input-group mb-3" data-js-copy="true">
        <input type='text' class='form-control' value='{{ site_url }}{% url 'event-calendar' %}'/>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary"><i aria-hidden="true" class="fa fa-copy"></i> Copier</button>
        </div>
    </div>
    <div id="toast-ics-div" class="toast-container"></div>
    <p>Pour utiliser ce lien ICS, vous pouvez utiliser l'application Agenda ou Calendrier intégrée à votre téléphone Android ou iOS.<br/>
        Vous pouvez utiliser <a href="https://www.thunderbird.net/en-US/thunderbird/all/" rel="noreferrer noopener" target="_blank">Thunderbird</a>, ou directement Zimbra
        en suivant ce petit <a href="{{ repository.wiki_calendar }}" rel="noreferrer noopener" target="_blank">guide</a> qui explique la procédure.
    </p>
    <hr>
	<h4>Évènements à venir</h4>

    <div class="tab-pane" id="events" role="tabpanel" aria-labelledby="events-tab" data-children=".item">
    {% for event in object_list.recent_events %}
        <div class="item">
            <a data-toggle="collapse" data-parent="#events"
               href="#event-{{ event.id }}" aria-expanded="true"
               aria-controls="event-{{ event.id }}">
                {% if event.association.acronym %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.acronym }})
                {% else %}
                {{ event.name }} ({{ event.type.name }} - {{ event.association.name }})
                {% endif %}
            </a>
            <div id="event-{{ event.id }}" class="collapse" role="tabpanel">
                <div class="row mb-2">
                    <div class="col-md-9">
                        <p>{{ event.description|safe|linebreaksbr }}</p>
                    </div>
                    <div id="logo_{{ event.id }}" class="col-md-3 skeleton">
                    {% if event.logo_url %}
                        <img src="{{ event.logo_url }}" alt="Logo {{ event.name }}" class="img-fluid"/>
                    {% else %}
                        <img src="{{ event.association.logo_url }}" alt="Logo {{ event.association.name }}" class="img-fluid"/>
                    {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <i aria-hidden="true" class="fa fa-fw fa-calendar"></i> {{ event.begins_at|date:'DATETIME_FORMAT' }}
                        - {{ event.ends_at|date:'DATETIME_FORMAT' }}
                    </div>
                    <div class="col-md-6">
                        <i aria-hidden="true" class="fa fa-fw fa-location-arrow"></i>
                        {% if event.place %}
                            {% with place=event.place %}
                                <a href="http://www.openstreetmap.org/?mlat={{ place.lat|unlocalize }}&mlon={{ place.long|unlocalize }}&zoom=18">
                                    {{ place.name }}
                                </a>
                            {% endwith %}
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    </div>
                </div>
                {% if event.website_url or event.facebook_url %}
                <div class="row mb-2">
                    {% if event.website_url %}
                    <div class="col-6">
                        <i aria-hidden="true" class="fa fa-fw fa-link"></i>
                            <a href="{{ event.website_url }}">Page web</a>
                    </div>
                    {% endif %}
                    {% if event.facebook_url %}
                    <div class="col-6">
                        <i aria-hidden="true" class="fa fa-fw fa-facebook"></i>
                            <a href="{{ event.facebook_url }}">Evènement Facebook</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% with prices=event.prices.all %}
            {% if prices|length > 0 %}
                <hr/><h6><i aria-hidden="true" class="fa fa-fw fa-money"></i> Tarifs de l'évènement</h6>
                <ul class="list-group">
                {% for priceElement in prices %}
                    <li class="list-group-item list-group-item-action flex-column">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-6">
                                <strong>{{priceElement.name}}</strong>
                            </div>
                            <div class="col-md-6">
                                {% if priceElement.price and not priceElement.is_variable %}
                                <strong>{{priceElement.price}} €</strong>
                                {% endif %}

                                {% if priceElement.is_variable %}
                                <span>Prix libre</span>
                                {% endif %}

                                {% if priceElement.is_va %}
                                    <span> - (Tarif VA)</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul><br/>
            {% endif %}
            {% endwith %}
            </div>
        </div>
    {% empty %}
        <em>Aucun évènement à venir.</em>
    {% endfor %}
    </div>
    <hr/>
    <h4>Calendrier des évènements</h4>
    <p>Cliquez sur les évènements pour obtenir plus de détails sur eux.</p>
    <div id="calendar"></div>

    {% include 'event/calendar_modal.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/calendar.min.js" %}"></script>
{% endblock %}
