{% extends 'association/base_association.html' %}
{% load humanize %}
{% load l10n %}
{% load static %}
{% load utils_filters %}

{% block page_seo %}
    {% include 'common/title.html' with title="Détail de l'évènement "|add:object.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Détail d'un événement
{% endblock %}

{% block quick_actions %}
    {% if can_delete %}
        <a href="{% url 'association-event-delete' association.id object.id %}" class="btn btn-danger">
            <i aria-hidden="true" class="fa fa-trash"></i> Supprimer</a>
    {% endif %}
    {% if not object.is_draft and not object.is_online and perms.event.admin_event %}
        <a href="{% url 'association-event-publish' association.id object.id %}" class="btn btn-success">
            <i aria-hidden="true" class="fa fa-check"></i> Publier</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'association-event-update' association.id object.id %}" class="btn btn-primary">
            <i aria-hidden="true" class="fa fa-pencil"></i> Mettre à jour</a>
    {% endif %}
    <a href="{% url 'association-event-duplicate' association.id object.id %}" class="btn btn-dark">
        <i aria-hidden="true" class="fa fa-copy"></i> Dupliquer</a>
{% endblock %}

{% block content_association %}
    {% if not object.is_online %}
        {% if object.comments %}
        <div class="alert alert-danger" role="alert">
            <p>Cet événement a été vu par un modérateur. Ce dernier demande la résolution des points suivants {% if event.is_draft %}pour pouvoir être validé lorsque l'évènement ne sera plus marqué comme brouillon{% else %} avant la mise en ligne{% endif %}.</p>
            <hr/>
            <p class="mb-0">{{ object.comments }}</p>
        </div>
        {% elif event.is_draft %}
        <div class="alert alert-info" role="alert">
            Cet événement est marqué comme étant un brouillon.
            <br/>
            Il ne pourra pas être validé et mis en ligne tant qu'il sera marqué comme brouillon.
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Cet événement est en attente de validation par un modérateur. Il n'est donc pas en ligne.
        </div>
        {% endif %}
    {% else %}
        {% if not object.has_poster and not object.allow_inkk %}
        <div class="alert alert-success" role="alert">
            Cet événement est validé et en ligne.
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            Cet événement est validé et en ligne (via Portail VA{% if object.has_poster and object.allow_inkk %}, INKK et Affichage{% elif object.has_poster %} et Affichage{% else %}et INKK{% endif %}).
        </div>
        {% endif %}
    {% endif %}

    <div class="row mb-3">
        <div class="col-md-6">
            <strong>Type d'événement</strong>
            <div class="card bg-light">
                <div class="card-body">{{ object.type.name }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <strong>Lieu</strong>
            <div class="card bg-light">
                <div class="card-body">
                    {% if object.place %}
                        <a href="http://www.openstreetmap.org/?mlat={{ object.place.lat|unlocalize }}&mlon={{ object.place.long|unlocalize }}&zoom=18">
                            {{ object.place.name }}
                        </a>
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "common/detail/base_field.html" with title="Nom" value=object.name only %}
    {% include "common/detail/base_field.html" with title="Description courte" value=object.short_description|linebreaksbr only %}
    {% include "common/detail/base_field.html" with title="Description" value=object.description|linebreaksbr only %}
    {% include "common/detail/double_field.html" with titleFirst="Date et heure de début" valueFirst=object.begins_at|date:'DATETIME_FORMAT' titleSecond="Date et heure de fin" valueSecond=object.ends_at|date:'DATETIME_FORMAT' only %}
    {% include "common/detail/link_field.html" with title="Page web" link=object.website_url only %}
    {% include "common/detail/link_field.html" with title="Évènement Facebook" link=object.facebook_url only %}
    {% include "common/detail/link_field.html" with title="URL du logo" link=object.logo_url only %}
    {% include "common/detail/image_field.html" with title="Aperçu du logo" link=object.logo_url only %}

    <div class="row">
        <div class="col-12 table-responsive">
            <strong>Tarifs</strong>
            <table class="table table-bordered table-stripped" aria-label="Liste des tarifs">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Tarif VA ?</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for price in event.prices.all %}
                    <tr>
                        <td>{{ price.name }}</td>
                        <td>
                            {% if price.is_variable %}
                                Prix libre
                            {% elif price.price == 0 %}
                                Gratuit
                            {% else %}
                                {{ price.price|floatformat:2|intcomma }}€</td>
                            {% endif %}
                        <td>{{ price.is_va|yesno:"Oui,Non" }}</td>
                        <td>
                            <a href="{% url 'association-event-price-update' association.id event.id price.id %}"
                               data-toggle="tooltip" title="Modifier"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                            <a href="{% url 'association-event-price-delete' association.id event.id price.id %}"
                               data-toggle="tooltip" title="Supprimer"><i aria-hidden="true" class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <em>Aucun tarif n'a été défini pour cet événement.</em><br/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if can_update %}
                <a href="{% url 'association-event-price-new' association.id event.id %}"
                   class="btn btn-xs btn-primary"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter un tarif</a>
            {% endif %}
        </div>
    </div>

    {% if connectors.affichage or connectors.inkk %}
        <div class="row mb-3 text-center" style="margin-top: 2vh;">
            {% if connectors.affichage %}
            <div class="col-md-{% if connectors.inkk %}6{% else %}12{% endif %}">
                {% if object.has_poster %}
                <p><span class="dot dot-active"></span>  Souhaite être publié sur Affichage</p>
                {% else %}
                <p><span class="dot dot-inactive"></span>  Ne souhaite pas être publié sur Affichage</p>
                {% endif %}
            </div>
            {% endif %}
            {% if connectors.inkk %}
            <div class="col-md-{% if connectors.affichage %}6{% else %}12{% endif %}">
                {% if object.allow_inkk %}
                <p><span class="dot dot-active"></span>  Souhaite être publié sur INKK</p>
                {% else %}
                <p><span class="dot dot-inactive"></span>  Ne souhaite pas être publié sur INKK</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if object|get_connector_bool:connectors %}
            {% include "common/detail/double_field.html" with titleFirst="Date de début de l'affichage sur les écrans" valueFirst=object.begin_publication_at|date:'DATETIME_FORMAT' titleSecond="Date de fin de l'affichage sur les écrans" valueSecond=object.end_publication_at|date:'DATETIME_FORMAT' only %}

            {% if connectors.affichage and object.has_poster %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <strong>Affiche</strong>
                    <div class="card bg-light">
                        <div class="card-body">
                            <img src="{% url "event-affichage-view" object.id %}" class="img-fluid" alt="Image introuvable"/>
                            {% if object.poster %}
                            <br/>
                            <small class="card-text text-muted {% if object.poster|is_image_correct == False %}has-error{% endif %}">
                                <i aria-hidden="true" class="fa {% if object.poster|is_image_correct == False %}fa-times-circle has-error{% else %}fa-check-circle has-success{% endif %}"></i>{{ object.poster.width }}x{{ object.poster.height }}px (Largeur x Hauteur comparée à 1920x1080px)
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "common/detail/base_field.html" with title="Durée d'apparition sur les TV" value=""|add:object.duration|add:" secondes" only %}
            {% endif %}
            {% if connectors.inkk and object.allow_inkk %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <strong>Banière INKK</strong>
                    <div class="card bg-light">
                        <div class="card-body">
                            <img src="{% url "event-inkk-view" object.id %}" class="img-fluid" alt="Image introuvable"/>
                            {% if object.banniere %}
                            <br/>
                            <small class="card-text text-muted {% if object.banniere|is_image_correct == False %}has-error{% endif %}">
                                <i aria-hidden="true" class="fa {% if object.banniere|is_image_correct == False %}fa-times-circle has-error{% else %}fa-check-circle has-success{% endif %}"></i>{{ object.banniere.width }}x{{ object.banniere.height }}px (Largeur x Hauteur comparée à 1920x1080px)
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if request.user.is_active and request.user.is_staff %}
        {% include "common/detail/base_field.html" with title="Commentaires de modération" value=object.comments|linebreaksbr only %}
    {% endif %}
    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>
{% endblock %}