{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Ajout d'un événement" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
    {{ form.media.css }}
{% endblock %}

{% block page_sub_title %}
  Nouvel événement
{% endblock %}

{% block quick_actions %}
    {% url 'association-event-list' association.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="eventForm" only %}
{% endblock %}

{% block content_association %}
    <div class="alert alert-secondary" role="alert">
        L’évènement apparaîtra dans le <a href="{% url 'public-calendar-view' %}">calendrier de la VA</a>, et sera diffusé dans les newsletters VA,
        il est aussi recommandé d'ajouter un visuel {% if not connectors.affichage %}sur <a href="{{ tools.affichage_url }}">Affichage Dynamique</a>
        et de l'ajouter aussi{% endif %} sur <a href="https://www.insa-lyon.fr/fr/proposer-un-evenement/">le site de l'INSA</a>
        pour qu'il soit affiché dans l'agenda officiel de l'INSA et potentiellement mis en avant par la DIRCOM (sur facebook ou autre).
    </div>
    {% crispy form %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/event.min.js" %}"></script>
{% endblock %}

{% block js_after_webpack %}
    {{ form.media.js }}
{% endblock %}
