{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% if folder %}
        {% include 'common/title.html' with title=folder.path|add:" (administrateur)" name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title="Liste des fichiers des associations" name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block css_js_header %}
{% if files %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endif %}
{% endblock %}

{% block page_title %}
    {% if folder %}
        {{ folder.path }}
        <span class="text-{% if folder.is_public %}success{% else %}secondary{% endif %}"
            data-toggle="tooltip" title="Contenu {% if folder.is_public %}public{% else %}privé{% endif %}"
        >
            <i aria-hidden="true" class="fa fa-{% if folder.is_public %}eye{% else %}eye-slash{% endif %}"></i>
        </span>
        <span class="text-{% if folder.is_writable %}success{% else %}secondary{% endif %}"
            data-toggle="tooltip" title="Écriture {% if folder.is_writable %}autorisée{% else %}interdite{% endif %} pour les associations"
        >
            <i aria-hidden="true" class="fa fa-pen"></i>
        </span>
    {% else %}
    Racine globale
    {% endif %}
{% endblock %}

{% block content %}
    {% if folder %}<p>{{ folder.description }}</p>{% endif %}
    {% if perms.file.add_file %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Arborescence des dossiers des associations</h3>
        <a href="{% if folder %}{% url 'file-folder-create' folder.id %}{% else %}{% url 'file-folder-create' %}{% endif %}" class="btn btn-success text-center"><i aria-hidden="true" class="fa fa-plus"></i> Créer un dossier</a>
    </div>
    {% else %}
    <h3>Arborescence des dossiers des associations</h3>
    {% endif %}
    <hr/>
    <div class="panel panel-default mb-3">
        <div class="list-group">
            {% if folder %}
                {% if folder.parent %}
                    <a class="list-group-item" href="{% url 'file-folder-list' folder_pk=folder.parent_id %}">
                        <i aria-hidden="true" class="fa fa-angle-double-up"></i> Revenir à {{ folder.parent }}
                    </a>
                {% else %}
                    <a class="list-group-item" href="{% url 'file-folder-list' %}">
                        <i aria-hidden="true" class="fa fa-angle-double-up"></i> Revenir à la racine
                    </a>
                {% endif %}
            {% endif %}
            {% if folders %}
                {% for subfolder in folders %}
                    <div class="list-group-item clearfix">
                        <i aria-hidden="true" class="fa fa-folder"></i>
                        <a href="{% url 'file-folder-list' subfolder.id %}">{{ subfolder }}</a>
                        {% if perms.file.change_file or perms.file.delete_file %}
                        <div class="pull-right btn-group">
                            {% if perms.file.change_file %}
                            <a href="{% if folder %}{% url 'file-folder-update' folder.id subfolder.id %}{% else %}{% url 'file-folder-update' pk=subfolder.id %}{% endif %}"
                                class="btn btn-warning btn-sm" data-toggle="tooltip" title="Modifier le dossier">
                                <i aria-hidden="true" class="fa fa-pencil"></i>
                            </a>
                            {% endif %}
                            {% if perms.file.delete_file %}
                            <a href="{% if folder %}{% url 'file-folder-delete' folder.id subfolder.id %}{% else %}{% url 'file-folder-delete' pk=subfolder.id %}{% endif %}"
                                class="btn btn-danger btn-sm" data-toggle="tooltip" title="Supprimer le dossier">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if not files and not folders %}
                <div class="list-group-item list-group-item-info text-center">Ce dossier est vide</div>
            {% endif %}
        </div>
    </div>
    {% if files %}
        <h3>Contenu du dossier</h3>
        <hr/>
        <div class="row">
            <div class="table-responsive">
                <table id="prettyTable" class="table table-bordered table-stripped responsive nowrap" data-page-length="50" aria-label="Liste des fichiers des associations">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Association</th>
                        <th>Date d'ajout</th>
                        <th data-orderable="false">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                        <tr>
                            <td><a href="{% url 'file-view' file.uuid %}" rel="noreferrer noopener" target="_blank">{{ file.name }}</a></td>
                            <td>
                                <a href="{% url 'association-detail' file.association.id %}">
                                {% if not file.association.acronym %}
                                    {{ file.association.name }}
                                {% else %}
                                    {{ file.association.acronym }} <small>({{ file.association.name }})</small>
                                {% endif %}
                                </a>
                            </td>
                            <td data-order="{{ file.created_at|date:"U" }}">{{ file.created_at|date:'DATETIME_FORMAT' }}</td>
                            <td>
                                <a href="{% url 'association-file-tree' file.association.id file.folder.id %}" data-toggle="tooltip" title="Localiser le fichier"><i aria-hidden="true" class="fas fa-map-marker-alt"></i></a>
                                <a href="{% url 'association-file-rename' file.association.id file.id %}" data-toggle="tooltip" title="Renommer le fichier"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                                <a href="{% url 'association-file-delete' file.association.id file.id %}" data-toggle="tooltip" title="Supprimer le fichier"><i aria-hidden="true" class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
{% if files %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endif %}
{% endblock %}
