{% extends 'association/base_association.html' %}

{% block page_seo %}
    {% if current_folder %}
        {% include 'common/title.html' with title="Liste des fichiers dans "|add:current_folder.name name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title="Liste des fichiers" name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block page_sub_title %}
    {% if current_folder %}<br/>Fichiers : {{ current_folder.name }}{% else %}Fichiers{% endif %}
{% endblock %}

{% block quick_actions %}
    {% if current_folder.is_writable and current_folder.id %}
        <a href="{% url 'association-file-upload' association.id current_folder.id %}" class="btn btn-primary">
            <i aria-hidden="true" class="fa fa-upload"></i> Uploader un document</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    <table class="table table-hover" aria-label="Liste des fichiers et des dossiers" role="presentation">
        <tr>
            <td colspan="2">
                {% if current_folder %}
                    <i aria-hidden="true" class="fa fa-folder"></i>
                    <a href="{% if current_folder.parent %}{% url 'association-file-tree' association.id current_folder.parent.id %}{% else %}{% url 'association-file-tree' association.id %}{% endif %}">..</a>
                {% elif is_root %}
                    <i aria-hidden="true" class="fa fa-folder"></i>
                    <a href="{% url 'association-resource-tree' association.id %}">Ressources</a>
                {% endif %}

                {% for folder in folders %}
                    <tr>
                        <td colspan="2"><i aria-hidden="true" class="fa fa-folder"></i> <a
                                href="{% url 'association-file-tree' association.id folder.id %}">{{ folder.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
        {% for file in files %}
            <tr>
                <td>
                    <i aria-hidden="true" class="fa fa-info-circle text-info"
                        data-toggle="tooltip" data-html="true"
                        title="<p>Crée le {{ file.created_at|date:'DATETIME_FORMAT' }}<br/>Modif. le {{ file.updated_at|date:'DATETIME_FORMAT' }}<p>"
                    ></i>
                    <a href="{% url 'file-view' file.uuid %}" rel="noreferrer noopener" target="_blank">
                        {{ file.name }}
                    </a>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        {% if file.folder.id %}
                            <a href="{% url 'association-file-rename' association.id file.id %}"
                               data-toggle="tooltip"
                               class="btn btn-sm btn-warning"
                               title="Renommer le fichier">
                                <i aria-hidden="true" class="fa fa-pencil"></i></a>
                            <a href="{% url 'association-file-delete' association.id file.id %}"
                               data-toggle="tooltip"
                               class="btn btn-sm btn-danger"
                               title="Supprimer le fichier">
                                <i aria-hidden="true" class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% empty %}
            {% if current_folder.is_writable %}
                <tr>
                    <td><em>Aucun fichier dans ce répertoire</em></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}