{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block page_seo %}
{% include 'common/title.html' with title="Modification de /"|add:object.path|add:"/" name=app.site.litteral_name only %}
{% endblock %}

{% block page_title %}
    Modifier un dossier
{% endblock %}

{% block page_sub_title %}
    {{ form.initial.name }}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
{% endblock %}

{% block quick_actions %}
    {% if form.current_folder %}
    {% url 'file-folder-list' folder_pk=form.current_folder.id as cancel_url %}
    {% else %}
    {% url 'file-folder-list' as cancel_url %}
    {% endif %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="fileFolderForm" only %}
{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        <strong>Attention !</strong> Vous vous apprêtez à modifier le dossier ayant pour chemin <em>/{{ form.current_folder.path }}/{{ form.initial.name }}/</em>.
    </div>
    {% crispy form %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/folder.min.js" %}"></script>
{% endblock %}
