{% extends 'association/base_association.html' %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des mandats pour "|add:association.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
  Mandats
{% endblock %}

{% block quick_actions %}
  <a href="{% url 'association-mandate-new' association.id %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content_association %}
  <div id="accordion" role="tablist">
    {% for mandate in object_list %}
    <div class="card border-{% if forloop.first %}success{% else %}secondary{% endif %}">
      <div class="card-header bg-{% if forloop.first %}success{% else %}secondary{% endif %} text-white" role="tab" id="heading{{ mandate.id }}">
        <h5 class="mb-0">
          <a class="text-white" data-toggle="collapse" href="#collapse{{ mandate.id }}" aria-expanded="true" aria-controls="collapse{{ mandate.id }}">
            Du {{ mandate.begins_at|date:'DATE_FORMAT' }} au {{ mandate.ends_at|date:'DATE_FORMAT' }}</a>
          {% if forloop.first %}<small>(Mandat en cours)</small>{% endif %}
        </h5>
      </div>
      <div id="collapse{{ mandate.id }}" class="collapse{% if forloop.first %} show{% endif %}" role="tabpanel" aria-labelledby="heading{{ mandate.id }}" aria-label="Liste des membres pour le mandat {{ mandate.begins_at|date:'DATE_FORMAT' }}">
        <div class="card-body table-responsive">
          <h5>Membres du bureau</h5>
          <table class="table table-bordered table-stripped" aria-label="Membre du bureau au {{ mandate.begins_at|date:'DATE_FORMAT' }}">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Contact</th>
                {% if forloop.first %}<th>Action</th>{% endif %}
              </tr>
            </thead>
            <tbody>
              {% with has_action=forloop.first %}
              {% for people in mandate.peoples.all %}
              <tr>
                <td>{{ people.first_name }}</td>
                <td>{{ people.last_name }}</td>
                <td>{{ people.role.name }}</td>
                <td>
                  <i aria-hidden="true" class="fa fa-envelope"></i> <a href="mailto:{{ people.email }}">{{ people.email }}</a><br>
                  <i aria-hidden="true" class="fa fa-phone"></i>
                    {% if people.phone %}
                        {{ people.phone }}
                        {% if forloop.first %}
                            {% if mandate.share_phone %}
                                <i aria-hidden="true" class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="Visible dans l'annuaire"></i>
                            {% else %}
                                <i aria-hidden="true" class="fa fa-eye-slash" data-toggle="tooltip" data-placement="bottom" title="Non visible dans l'annuaire"></i>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <em>Non défini</em>
                    {% endif %}
                </td>
                {% if has_action %}
                <td>
                  <a href="{% url 'association-mandate-people-update' association.id mandate.id people.id %}" data-toggle="tooltip" title="Modifier"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                  <a href="{% url 'association-mandate-people-delete' association.id mandate.id people.id %}" data-toggle="tooltip" title="Supprimer"><i aria-hidden="true" class="fa fa-trash"></i></a>
                </td>
                {% endif %}
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">
                  <em>Aucun membre du bureau renseigné pour ce mandat.<br>
                  {% if forloop.first %}<a href="{% url 'association-mandate-people-new' association.id mandate.id %}">Ajouter un membre</a></em>{% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endwith %}
            </tbody>
          </table>
          {% if forloop.first %}
            <div class="d-flex justify-content-start">
              <a class="btn btn-primary btn-xs" href="{% url 'association-mandate-people-new' association.id mandate.id %}"><i aria-hidden="true" class="fa fa-user-plus"></i> Ajouter un membre</a>
              {% if request.user.is_active %}
                <form action="{% url 'association-mandate-change-phone-visibiity' association.id mandate.id %}" method="POST">
                  {% csrf_token %}
                  {% if mandate.share_phone %}
                    <button class="btn btn-danger btn-xs" style="margin-left: 2vw;" type="submit" data-toggle="tooltip" data-placement="bottom" title="Seul les responsables d'association connectés peuvent voir ce numéro dans l'annuaire">
                        <i aria-hidden="true" class="fa fa-eye-slash"></i>Cacher le téléphone du président
                    </button>
                  {% else %}
                    <button class="btn btn-success btn-xs" style="margin-left: 2vw;" type="submit" data-toggle="tooltip" data-placement="bottom" title="Seul les responsables d'association connectés pourront voir ce numéro dans l'annuaire">
                        <i aria-hidden="true" class="fa fa-eye"></i>Partager le téléphone du président
                    </button>
                  {% endif %}
                </form>
              {% endif %}
            </div>
          {% else %}
            <div class="alert alert-warning" role="alert">Ce mandat est clos, vous ne pouvez pas modifier les informations associées.</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center"><em>Aucun mandat n'a été renseigné pour cette association.</em></p>
    {% endfor %}
  </div>
{% endblock %}