{% extends 'common/base.html' %}

{% block page_seo %}
    {% include 'common/title.html' with title="Suppression de l'utilisateur "|add:object.email|default:object.username name=app.site.litteral_name only %}
{% endblock %}

{% block page_title %}
  Suppression d'un utilisateur
{% endblock %}

{% block quick_actions %}
    {% url 'member-list' as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <u><strong>Si vous voulez simplement archiver ce compte, nous vous conseillons plutôt de marquer l'utilisateur comme inactif en le mettant à jour !</strong></u>
    </div>
    {% include 'common/form/delete.html' with delete_type_name="l'utilisateur" delete_obj_name=object.email|default:object.username %}
{% endblock %}