{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Mot de passe oublié" name=app.site.litteral_name only %}
    {% url 'member-forgot-password' as link_url %}
    {% include 'common/seo_meta.html' with title="Mot de passe oublié" link=site_url|add:link_url description="Vous avez oublié votre mot de passe, pas de panique, cette page est faite pour vous aider." only %}
{% endblock %}

{% block page_title %}
  Mot de passe oublié
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8">
            {% crispy form %}
            <button type="submit" form="forgotForm" class="btn btn-primary btn-block"><i aria-hidden="true" class="fa fa-send"></i> Envoyer</button>
        </div>
    </div>
{% endblock %}