{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des utilisateurs" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des utilisateurs
{% endblock %}

{% block quick_actions %}
{% if perms.auth.add_user %}
    <a href="{% url 'member-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="table-responsive">
            <table id="prettyTable" class="table table-bordered table-stripped responsive" data-order="[[ 2, &quot;desc&quot; ]]" data-page-length="100" aria-label="Liste des utilisateurs">
                <thead>
                <tr>
                    <th>Adresse mail</th>
                    <th>NOM Prénom</th>
                    <th>Dernière connexion</th>
                    <th>Actif</th>
                    <th>Équipe</th>
                    <th>Admin</th>
                    {% if perms.auth.change_user or perms.auth.delete_user %}
                    <th data-orderable="false">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for member in object_list %}
                    <tr>
                        <td>{{ member.email|default:member.username }}</td>
                        <td>{{ member.last_name|upper }} {{ member.first_name|capfirst }}</td>
                        <td data-order="{{ member.last_login|date:"U" }}">{{ member.last_login|default_if_none:"Jamais connecté" }}</td>
                        <td data-order="{{ member.is_active }}">
                            <i aria-hidden="true" class="fa fa-{% if member.is_active %}check{% else %}times{% endif %}"></i>
                        </td>
                        <td data-order="{{ member.is_staff }}">
                            <i aria-hidden="true" class="fa fa-{% if member.is_staff %}check{% else %}times{% endif %}"></i>
                        </td>
                        <td data-order="{{ member.is_superuser }}">
                            <i aria-hidden="true" class="fa fa-{% if member.is_superuser %}check{% else %}times{% endif %}"></i>
                        </td>
                        {% if perms.auth.change_user or perms.auth.delete_user %}
                        <td>
                        {% if perms.auth.change_user %}
                            <a href="{% url 'member-update' member.id %}" data-toggle="tooltip" title="Modifier">
                                <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.auth.delete_user %}
                            <a href="{% url 'member-delete' member.id %}" data-toggle="tooltip" title="Supprimer">
                                <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
