{% extends 'common/base.html' %}
{% load crispy_forms_filters %}

{% block page_seo %}
    {% include 'common/title.html' with title="Identification" name=app.site.litteral_name only %}
    {% url 'member-login' as link_url %}
    {% include 'common/seo_meta.html' with title="Identification" link=site_url|add:link_url description="Connectez vous pour accéder à la gestion de votre association, ainsi qu'à de nombreux autres outils." only %}
{% endblock %}

{% block page_title %}
    Identification
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-sm-2 col-sm-8">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block"><i aria-hidden="true" class="fas fa-sign-in-alt"></i> Se connecter</button>
            </form>
            <br/>
            <a href="{% url 'member-forgot-password' %}">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}