{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Modification de l'utilisateur "|add:object.email|default:object.username name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
{% endblock %}

{% block page_title %}
 Modifier un utilisateur
{% endblock %}

{% block page_sub_title %}
{{ object.email|default_if_none:object.username }}
{% endblock %}

{% block quick_actions %}
    {% url 'member-list' as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="memberForm" only %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/password.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/member.min.js" %}"></script>
{% endblock %}
