{% extends 'common/base.html' %}
{% load l10n %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des types d'évènement" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des types d'évènement
{% endblock %}

{% block quick_actions %}
{% if perms.event.add_eventtype %}
    <a href="{% url 'event-type-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped" aria-label="Liste des types d'évènement">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur HTML</th>
                {% if perms.event.change_eventtype or perms.event.delete_eventtype %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for event_type in object_list %}
                <tr>
                    <td>{{ event_type.name }}</td>
                    <td style="color: {{ event_type.color }};">{{ event_type.color }}</td>
                    {% if perms.event.change_eventtype or perms.event.delete_eventtype %}
                    <td>
                        {% if perms.event.change_eventtype %}
                        <a href="{% url 'event-type-update' event_type.id %}" data-toggle="tooltip" title="Modifier">
                            <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.event.delete_eventtype %}
                        <a href="{% url 'event-type-delete' event_type.id %}" data-toggle="tooltip" title="Supprimer">
                            <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
