{% extends "common/base.html" %}
{% load humanize %}
{% load static %}
{% load utils_filters %}

{% block page_seo %}
    {% include 'common/title.html' with title=article.title name=app.site.litteral_name only %}
    {% url 'public-article-detail' article.id as link_url %}
    {% include 'common/seo_meta.html' with title=article.title link=site_url|add:link_url description=article.short_content only %}

    {% if article.association.current_directory_entry.twitter_url and article.association.current_directory_entry.twitter_url|extract_twitter_account %}
    <meta property="twitter:creator" content="{{ article.association.current_directory_entry.twitter_url|extract_twitter_account }}"/>
    {% endif %}
{% endblock %}

{% block page_seo_article %}
    <meta property="og:type" content="article"/>
    {% if article.association.current_directory_entry.facebook_url %}
    <meta property="article:publisher" content="{{ article.association.current_directory_entry.facebook_url }}"/>
    {% endif %}
    <meta property="article:published_time" content="{{ article.updated_at|date:"Y-m-d\TH:i:s" }}+00:00"/>
    <meta property="article:author" content="{{ article.association.name }}{% if association.acronym %} ({{ association.acronym }}){% endif %}"/>
    <meta property="article:tag" content="{{ article.association.name }}"/>
    {% if article.association.acronym %}
    <meta property="article:tag" content="{{ article.association.acronym }}"/>
    {% endif %}
    <meta property="article:tag" content="VA"/>
    <meta property="article:tag" content="Vie Associative"/>
    <meta property="article:tag" content="INSA Lyon"/>
{% endblock %}

{% block page_title %}
    {{ article.title }}
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'public-article-list' %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-chevron-left"></i>Revenir à la liste</a>
{% endblock %}

{% block content %}
    <br/>
    <div>
        <div class="row">
            <div class="col-md-4">
                {% if article.featured_image %}
                <img src="{% get_media_prefix %}{{ article.featured_image }}" alt="Image introuvable" class="card-img-top img-responsive"/>
                {% else %}
                <img src="{{ article.association.logo_url }}" alt="Image introuvable" class="card-img-top img-responsive"/>
                {% endif %}
            </div>
            <div class="col-md-8">
                <p class="card-text"><small class="text-muted">
                    Publié le {{ article.updated_at }} -
                    {% if article.association.acronym %}
                    {{ article.association.acronym }} ({{ article.association.name }})
                    {% else %}
                    {{ article.association.name }}
                    {% endif %}
                </small></p>
                {% autoescape off %}
                    {{ article.content }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}