{% extends 'association/base_association.html' %}
{% load humanize %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Détail de l'article "|add:object.title name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Détail d'un article
{% endblock %}

{% block quick_actions %}
    {% if can_delete %}
        <a href="{% url 'association-article-delete' association.id object.id %}" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i> Supprimer</a>
    {% endif %}
    {% if not object.validated and can_publish %}
        <a href="{% url 'association-article-publish' association.id object.id %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-check"></i> Publier</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'association-article-update' association.id object.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Mettre à jour</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    {% if not object.validated %}
        {% if object.comments %}
        <div class="alert alert-danger" role="alert">
            <p>Cet article a été vu par un modérateur. Ce dernier demande la résolution des points suivants avant la mise en ligne.</p>
            <hr/>
            <p class="mb-0">{{ object.comments }}</p>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Cet article est en attente de validation par un modérateur. Il n'est donc pas en ligne.
        </div>
        {% endif %}
    {% else %}
        <div class="alert alert-success" role="alert">
            Cet article est validé et en ligne.
        </div>
    {% endif %}

    {% include "common/detail/base_field.html" with title="Titre" value=object.title only %}
    {% if object.featured_image %}
        {% get_media_prefix as media %}
        {% include "common/detail/image_field.html" with title="Aperçu de l'image" link=media|add:object.featured_image only %}
    {% endif %}

    {% include "common/detail/base_field.html" with title="Brève" value=object.short_content|safe only %}
    {% if request.user.is_active and request.user.is_staff %}
        {% include "common/detail/base_field.html" with title="Commentaires de modération" value=object.comments|linebreaksbr only %}
    {% endif %}
    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>
{% endblock %}