{% extends 'association/base_association.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des articles" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_sub_title %}
    Articles
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-article-new' association.id %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content_association %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item">
                <a class="nav-link active" href="#to_validate" aria-controls="home" role="tab" data-toggle="tab">En attente de validation</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#validated" aria-controls="profile" role="tab" data-toggle="tab">Validés</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="to_validate">
                <table class="table table-bordered table-stripped" aria-label="Liste des articles en attente de validation">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date de mise à jour</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in to_validate %}
                        <tr>
                            <td>
                                <a href="{% url 'association-article-detail' association.id article.id %}">{{ article.title }}</a>
                            </td>
                            <td>{{ article.updated_at|date }}</td>
                            <td>
                                {% if article.validated %}
                                    <a data-toggle="tooltip" title="Validé"><i aria-hidden="true" class="fa fa-check"></i></a>
                                {% elif article.comments %}
                                    <a data-toggle="tooltip" title="Demande de changements"><i aria-hidden="true" class="fa fa-warning"></i></a>
                                {% else %}
                                    <a data-toggle="tooltip" title="Non validé"><i aria-hidden="true" class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3"><em>Aucun article à valider.</em></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane table-responsive" id="validated">
                <table id="prettyTable2" class="table table-bordered table-stripped" aria-label="Liste des articles validés">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date de mise à jour</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in validated %}
                        <tr>
                            <td>
                                <a href="{% url 'association-article-detail' association.id article.id %}">{{ article.title }}</a>
                            </td>
                            <td data-order="{{ article.updated_at|date:"U" }}">{{ article.updated_at|date }}</td>
                            <td>
                                {% if article.validated %}
                                    <a data-toggle="tooltip" title="Validé"><i aria-hidden="true" class="fa fa-check"></i></a>
                                {% elif article.comments %}
                                    <a data-toggle="tooltip" title="Demande de changements"><i aria-hidden="true" class="fa fa-warning"></i></a>
                                {% else %}
                                    <a data-toggle="tooltip" title="Non validé"><i aria-hidden="true" class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
