{% extends 'association/base_association.html' %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Bot'INSA" name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Bot'INSA
{% endblock %}

{% block quick_actions %}
    {% if perms.association.admin_directoryentry %}
        {% if object != None %}
            <a href="{% url 'association-print' association.id %}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-print"></i> Voir la version publiée</a>
            <a href="{% url 'association-directory-delete' association.id %}" class="btn btn-danger">
                <i aria-hidden="true" class="fa fa-trash"></i> Supprimer</a>
            {% if not object.is_online %}
                <a href="{% url 'association-directory-publish' association.id %}" class="btn btn-success">
                    <i aria-hidden="true" class="fa fa-check"></i> Publier</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <a href="{% url 'association-directory-update' association.id %}" class="btn btn-primary">
        <i aria-hidden="true" class="fa fa-pencil"></i> Mettre à jour</a>
{% endblock %}

{% block content_association %}
    {% if not object %}
        <div class="alert alert-warning" role="alert">
            Vous n'avez jamais rempli de page pour le Bot'INSA.
        </div>
    {% else %}
        {% if not object.is_online %}
            <div class="alert alert-warning" role="alert">
                Cette version est en cours de validation par le responsable VA. Elle n'est donc pas encore publiée.
            </div>
        {% endif %}

        <div class="row mb-3">
            <div class="col-12">
                <strong>Description</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {{ object.description|linebreaksbr }}
                        <br/>
                        <small class="card-text text-muted {% if object.description|length >= 900 %}has-error{% endif %}">
                            {{ object.description|length }}/900 caractères
                        </small>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Adresse de contact</strong>
                <div class="card bg-light">
                    <div class="card-body"><a
                            href="mailto:{{ object.contact_address }}">{{ object.contact_address }}</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <strong>Numéro de téléphone</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.phone %}
                            <a href="tel:{{ object.phone }}">{{ object.phone }}</a>
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <strong>Horaires de permanence</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        <table class="table" aria-label="Liste des horaires de permanence" role="presentation">
                            <tbody>
                            {% for opening_hour in object.opening_hours.all %}
                                <tr>
                                    <td>{{ days|get_tuple:opening_hour.day }}</td>
                                    <td>de {{ opening_hour.begins_at|time:"H:i" }}</td>
                                    <td>à {{ opening_hour.ends_at|time:"H:i" }}</td>
                                    <td>
                                        <a href="{% url 'association-directory-opening-hour-update' association.id opening_hour.id %}"
                                           data-toggle="tooltip" title="Modifier"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                                        <a href="{% url 'association-directory-opening-hour-delete' association.id opening_hour.id %}"
                                           data-toggle="tooltip" title="Supprimer"><i aria-hidden="true" class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4"><a
                                        href="{% url 'association-directory-opening-hour-new' association.id %}">Ajouter
                                    un horaire</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <strong>Lieu</strong>
                <div class="card bg-light">
                    <div class="card-body">
                        {% if object.place_id %}
                            <a href="http://www.openstreetmap.org/?mlat={{ object.place.lat|unlocalize }}&mlon={{ object.place.long|unlocalize }}&zoom=18">
                                {{ object.place.name }}
                            </a>
                        {% else %}
                            <em>Non défini</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include "common/detail/link_field.html" with title="URL site web" link=object.website_url only %}
        {% include "common/detail/link_field.html" with title="URL page Facebook" link=object.facebook_url only %}
        {% include "common/detail/link_field.html" with title="URL fil Twitter" link=object.twitter_url only %}
        {% include "common/detail/link_field.html" with title="URL page Instagram" link=object.instagram_url only %}
        {% include "common/detail/link_field.html" with title="URL serveur Discord" link=object.discord_url only %}

        <p>
            <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
        </p>
    {% endif %}
{% endblock %}