{% extends "base.html" %}

{% load l10n %}

{% block page_title %}
    Bot'INSA
{% endblock %}

{% block content %}
    <h2>
        Toutes les associations
        {% if cat or query %}
            <small class="text-muted">({{ associations.count }} selon les critères choisis)</small>
        {% endif %}
    </h2>
    <p class="text-muted">Les associations avec un fond sombre sont inactives et cherchent un repreneur.</p>
    <div class="row mb-4">
        <div class="col-12">
            <form action="{% if cat %}?cat={{ cat }}{% endif %}" method="get" class="form-inline">
                <label class="sr-only" for="selectCat">Catégorie</label>
                <select name="cat" id="selectCat" class="custom-select mr-2">
                    <option value="" {% if not cat %}selected{% endif %}>Catégorie...</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if cat and cat|add:"0" == category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group mr-2">
                    <input type="text"
                           name="query"
                           class="form-control"
                           placeholder="Recherche..." value="{% if query %}{{ query }}{% endif %}">
                </div>
                <button class="btn btn-primary mr-2" type="submit">
                    <i class="fa fa-search"></i> Chercher
                </button>
                <a href="?cat=&query=" class="btn btn-light form-control">
                    <i class="fa fa-ban"></i> Réinitialiser
                </a>
            </form>
        </div>
    </div>
    <div class="card-columns">
        {% for asso in associations %}
            <div class="card {% if not asso.is_active %}text-white bg-secondary{% endif %}">
                {% if asso.logo_url %}<img class="card-img-top" src="{{ asso.logo_url }}" alt="Logo">{% endif %}
                <div class="card-body">
                    <h4 class="card-title">
                        {{ asso.name }}
                        {% if asso.acronym %}
                            <small class="{% if asso.is_active %}text-muted{% endif %}">
                                ({{ asso.acronym }})
                            </small>
                        {% endif %}
                        <span class="badge badge-pill {% if asso.is_active %}badge-secondary{% else %}badge-light{% endif %}">{{ asso.category.name }}</span>
                        {% if not asso.is_active %}
                            <span class="badge badge-pill badge-dark">
                                Inactive
                            </span>
                        {% endif %}
                    </h4>
                    <p class="card-text">{{ asso.current_directory_entry.description|linebreaksbr|truncatewords:42 }}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#assoDetails{{ asso.id }}">
                            Plus d'infos
                        </button>
                        {% if user.is_superuser or user.is_staff %}
                            <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                Admin
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modals -->
    {% include 'directory/asso_modals.html' %}
{% endblock %}