{% extends "common/base.html" %}
{% load l10n %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Bot'INSA" name=app.site.litteral_name only %}
    {% url 'association-directory-public' as link_url %}
    {% include 'common/seo_meta.html' with title="Bot'INSA" link=site_url|add:link_url description="Le Bot'INSA est un annuaire des associations de l'INSA de Lyon. Vous trouverez ici toutes les informations sur les associations de notre campus." only %}
{% endblock %}

{% block page_title %}
    Bot'INSA
{% endblock %}

{% block css_js_header %}
    <meta property="pva:modal:api" content="{% url "api-v1-directory-index" %}"/>
{% endblock %}

{% block content %}
    <h2>
        Toutes les associations
        {% if cat or query %}
            <small class="text-muted">({{ associations|length }} selon les critères choisis)</small>
        {% endif %}
    </h2>
    <div class="row mb-4">
        <div class="col-12">
            <form action="{% if cat %}?cat={{ cat }}{% endif %}" method="get" class="form-inline">
                <label class="sr-only" for="selectCat">Catégorie</label>
                <select name="cat" id="selectCat" class="custom-select mr-2">
                    <option value="" {% if not cat %}selected{% endif %}>Catégorie...</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                                {% if cat and cat|add:"0" == category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group mr-2">
                    <input type="text"
                           name="query"
                           class="form-control"
                           placeholder="Recherche..." value="{% if query %}{{ query }}{% endif %}">
                </div>
                <button class="btn btn-primary mr-2" type="submit">
                    <i aria-hidden="true" class="fa fa-search"></i> Chercher
                </button>
                <a href="?cat=&query=" class="btn btn-light form-control">
                    <i aria-hidden="true" class="fa fa-ban"></i> Réinitialiser
                </a>
            </form>
        </div>
    </div>
    <ul class="nav nav-tabs" id="navigation-type-association" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active-association" role="tab" aria-controls="active-association" aria-selected="true"><i aria-hidden="true" class="fa fa-heart"></i> Actives <span class="badge badge-pill badge-primary">{{ count_active }}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive-association" role="tab" aria-controls="inactive-association" aria-selected="false"><i aria-hidden="true" class="fas fa-heartbeat"></i> Inactives/en sommeil <span class="badge badge-pill badge-primary">{{ count_inactive }}</span></a>
        </li>
    </ul>

    <div class="tab-content" id="navigation-type-association-content">
        <div class="tab-pane fade show active" id="active-association" role="tabpanel" aria-labelledby="active-tab">
            <div class="card-columns">
            {% if count_active %}
                {% for asso in associations %}
                    {% if asso.is_active %}
                    <div class="card">
                        {% if asso.logo_url %}
                            <div id="logo_{{ asso.id }}" class="skeleton">
                                <img class="card-img-top" src="{{ asso.logo_url }}" alt="Logo introuvable">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ asso.name }}
                                {% if asso.acronym %}<small>({{ asso.acronym }})</small>{% endif %}
                                {% if asso.category.color %}
                                    <span class="badge badge-pill text-white" style="background-color: {{ asso.category.color }};">{{ asso.category.name }}</span>
                                {% else %}
                                    <span class="badge badge-pill badge-secondary">{{ asso.category.name }}</span>
                                {% endif %}
                            </h4>
                            <p class="card-text">{{ asso.current_directory_entry.description|linebreaksbr|truncatewords:42 }}</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-js-association="{{ asso.id }}">
                                    <i aria-hidden="true" class="fa fa-plus"></i> Plus d'infos
                                </button>
                                {% if user.is_superuser or user.is_staff %}
                                    <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                        <i aria-hidden="true" class="fa fa-eye"></i> Admin
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="text-center">Aucune association à afficher !</h4>
            {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="inactive-association" role="tabpanel" aria-labelledby="inactive-tab">
            <p class="text-justify text-break">
                Ces associations sont en sommeil, cela signifie que personne ne s’en occupe actuellement, mais qu’elles n’attendent que toi pour les faire revivre !<br/>
                Certaines possèdent peut-être encore un local et du matériel pour leur fonctionnement alors n’hésite pas à contacter le CVA si tu es intéressé.e
                ou si tu as une idée de nouvelle association Insalienne à créer !<br/>
            </p>
            <div class="card-columns">
            {% if count_inactive %}
                {% for asso in associations %}
                    {% if asso.is_active is False %}
                    <div class="card">
                        {% if asso.logo_url %}
                            <div id="logo_{{ asso.id }}" class="skeleton">
                                <img class="card-img-top" src="{{ asso.logo_url }}" alt="Logo introuvable">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ asso.name }}
                                {% if asso.acronym %}<small>({{ asso.acronym }})</small>{% endif %}
                                <span class="badge badge-pill badge-secondary">{{ asso.category.name }}</span>
                            </h4>
                            <p class="card-text">{{ asso.current_directory_entry.description|linebreaksbr|truncatewords:42 }}</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-js-association="{{ asso.id }}">
                                    <i aria-hidden="true" class="fa fa-plus"></i> Plus d'infos
                                </button>
                                {% if user.is_superuser or user.is_staff %}
                                    <a href="{% url 'association-detail' asso.id %}" class="btn btn-light">
                                        <i aria-hidden="true" class="fa fa-eye"></i> Admin
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="text-center">Aucune association à afficher !</h4>
            {% endif %}
            </div>
        </div>
    </div>

    {% include 'directory/asso_modals.html' %}
{% endblock %}

{% block js %}
<script src="{% static "bundle/js/directory.min.js" %}"></script>
{% endblock %}