{% extends 'association/base_association.html' %}

{% load crispy_forms_tags %}

{% block page_sub_title %}
    Modifier le Bot'INSA
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-directory-detail' association.id %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
    <button form="directoryEntryForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content_association %}
    {% crispy form %}

    <script type="text/javascript">
    //<![CDATA[
        "use strict";
        let descriptionArea=$('#id_description');
        descriptionArea.after('<small class="card-text text-muted" id="count_description"></small>')
                .keyup(function() {
                    const strRead = $(this).val();
                    const strReadByLine = strRead.split('\n');

                    let charNumber = strRead.length + strReadByLine.length;
                    //We check if the last line is empty (the server remove this kind of line when persisting the description)
                    charNumber -= ((strReadByLine.length > 1 && strReadByLine.pop().length === 0) ? 3 : 1);

                    let counter = $('#count_description');
                    counter.html(charNumber + '/900 caractère' + (charNumber > 1 ? 's' : '')).removeClass('has-error');
                    if (charNumber > 900) {
                        counter.addClass('has-error');
                    }
                });

        descriptionArea.keyup();
    //]]>
    </script>
{% endblock %}