{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Modification de la page Bot'INSA de "|add:association.name name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
{% endblock %}

{% block page_sub_title %}
    Modifier le Bot'INSA
{% endblock %}

{% block quick_actions %}
    {% url 'association-directory-detail' association.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="directoryEntryForm" only %}
{% endblock %}

{% block content_association %}
    {% crispy form %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/directory.min.js" %}"></script>
{% endblock %}