{% extends 'association/base_association.html' %}

{% load crispy_forms_tags %}

{% block page_sub_title %}
    Modifier le Bot'INSA
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'association-directory-detail' association.id %}" class="btn btn-secondary"><i class="fa fa-times"></i> Annuler</a>
    <button form="directoryEntryForm" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
{% endblock %}

{% block content_association %}
    {% crispy form %}

    <script type="text/javascript">
    //<![CDATA[
        "use strict";
        let descriptionArea=$('#id_description');
        descriptionArea.on('input', function() {
            const charNumber = $(this).val().trim().replace(/\n/g,"\r\n").length;

            let counter = $('#hint_id_description');
            counter.html(charNumber + '/900 caractère' + (charNumber > 1 ? 's' : ''));
            if (charNumber > 900) {
                counter.addClass('has-error');
            }else{
                counter.removeClass('has-error');
            }
        });

        descriptionArea.trigger("input");
    //]]>
    </script>
{% endblock %}