{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Situation administrative - Liste des critères" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Situation administrative
{% endblock %}

{% if request.user.is_active and request.user.is_staff %}
    {% block quick_actions %}
        <a href="{% url 'requirement-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
    {% endblock %}
{% endif %}

{% block page_sub_title %}
    Liste des critères
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped" data-page-length="20" aria-label="Liste des critères">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date de fin de validité</th>
                {% if request.user.is_active and request.user.is_staff %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for requirement in object_list %}
                <tr>
                    <td><a href="{% url 'requirement-detail' requirement.id %}">{{ requirement.name }}</a></td>
                    <td data-order="{{ requirement.active_until|date:"U" }}">{{ requirement.active_until }}</td>
                    {% if request.user.is_active and request.user.is_staff %}
                    <td>
                        <a href="{% url 'requirement-update' requirement.id %}" data-toggle="tooltip"
                           title="Modifier le critère"><i aria-hidden="true" class="fa fa-pencil"></i></a>
                        <a href="{% url 'requirement-delete' requirement.id %}" data-toggle="tooltip"
                           title="Supprimer le critère"><i aria-hidden="true" class="fa fa-trash"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
