{% extends 'common/base.html' %}
{% load requirement_extras %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Situation administrative - "|add:object.name name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
  Situation administrative
{% endblock %}

{% block page_sub_title %}
  <br/>{{ object.name }}
{% endblock %}

{% block quick_actions %}
<a href="{% url 'requirement-list' %}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-list"></i> Retourner à la liste</a>
{% if request.user.is_active and request.user.is_staff %}
    <a href="{% url 'requirement-delete' object.id %}" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i>Supprimer</a>
    <a href="{% url 'requirement-update' object.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Modifier</a>
{% endif %}
{% endblock %}

{% block content %}
<br/>
<table id="prettyTable" class="table table-bordered table-stripped" data-page-length="100" aria-label="Liste des états de validation pour le critère {{ object.id }}">
    <thead>
        <tr>
            <th scope="col">Association</th>
            {% if not object.type == 'accomplishment' and not object.type == 'room' and not object.type == 'cave' %}
            <th scope="col">État</th>
            {% endif %}
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for association in associations %}
        <tr class="table-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %}">
        {% if not association.acronym %}
        <td><a href="{% url 'association-detail' association.id %}">{{ association.name }}</a></td>
        {% else %}
        <td><a href="{% url 'association-detail' association.id %}">{{ association.acronym }}</a> <small>({{ association.name }})</small></td>
        {% endif %}

        {% if not object.type == 'accomplishment' and not object.type == 'room' and not object.type == 'cave' %}
        <td class="text-center">
            {% if object|is_achieved:association.id %}
            <span class="label label-success">Validé</span>
            {% else %}
            <span class="label label-danger">Non validé</span>
            {% endif %}
        </td>
        {% endif %}
        <td class="text-center">
            {% if object.type == 'accomplishment' or object.type == 'room' or object.type == 'cave' %}
                {% if not requirement|is_achieved:association.id %}
                <form action="{% url 'association-requirement-achieve' association.id object.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-xs btn-success"><i aria-hidden="true" class="fa fa-check"></i> Valider</button>
                </form>
                {% else %}
                <form action="{% url 'association-requirement-achieve' association.id object.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-xs btn-danger"><i aria-hidden="true" class="fa fa-times"></i> Invalider</button>
                </form>
                {% endif %}
            {% elif object.type == 'file' %}
                {% if not requirement|is_achieved:association.id %}
                -
                {% else %}
                <a href="{% url 'association-file-tree' association.id object.get_folder_id %}" class="btn btn-xs btn-primary"><i aria-hidden="true" class="fa fa-eye"></i> Voir</a>
                {% endif %}
            {% elif object.type == 'mandate' or object.type == 'role' %}
                {% if not requirement|is_achieved:association.id %}
                -
                {% else %}
                <a href="{% url 'association-mandate-list' association.id %}" class="btn btn-xs btn-primary"><i aria-hidden="true" class="fa fa-eye"></i> Voir</a>
                {% endif %}
            {% else %}
            -
            {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% if object.type == 'accomplishment' or object.type == 'room' or object.type == 'cave' %}
    <script type="text/javascript" src="{% static "bundle/js/requirement.min.js" %}"></script>
{% endif %}
{% endblock %}
