{% extends 'association/base_association.html' %}
{% load requirement_extras %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Situation administrative" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_sub_title %}
    Situation administrative
{% endblock %}

{% block content_association %}
    <table class="table table-hover" aria-label="Liste des critères pour l'association {{ association.name }}" role="presentation">
        <tbody>
        {% for requirement in object_list %}
            {% if association.has_place or association.has_cave or requirement.type not in 'room, cave' %}
                <tr class="table-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %} text-{% if requirement|is_achieved:association.id %}success{% else %}danger{% endif %}">
                    <td>
                        <i aria-hidden="true" class="fa {% if requirement|is_achieved:association.id %}fa-check{% else %}fa-times{% endif %}"></i>
                        {{ requirement.name }}
                        {% if requirement.help_text|length > 0 %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ requirement.help_text }}"><i aria-hidden="true" class="fa fa-question-circle"></i></a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if perms.association.can_achieve_requirement %}
                            {% if requirement.type == 'accomplishment' or requirement.type == 'room' or requirement.type == 'cave' %}
                                {% if not requirement|is_achieved:association.id %}
                                    <form action="{% url 'association-requirement-achieve' association.id requirement.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-success"><i aria-hidden="true" class="fa fa-check"></i> Valider</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'association-requirement-achieve' association.id requirement.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger"><i aria-hidden="true" class="fa fa-times"></i> Invalider</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if requirement.type == 'file' and requirement|is_achieved:association.id %}
                            <a href="{% url 'association-file-tree' association.id requirement.get_folder_id %}" class="btn btn-sm btn-primary">
                                <i aria-hidden="true" class="fa fa-eye"></i> Voir
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
