{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Ajouter un critère" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    {{ form.media.css }}
{% endblock %}

{% block page_title %}
  Ajouter un critère
{% endblock %}

{% block quick_actions %}
    {% url 'requirement-list' as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="requirementForm" only %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}

{% block js %}
    <script type="application/javascript">
        const el = document.createElement('small');
        el.id = 'hint_id_help_text';
        el.classList.add('form-text', 'text-muted');
        el.innerHTML = 'Les méta-données servent pour les types de critères suivants :'
            + '<ul><li>Fichier : Le format à respecter est <code>{"tag_id":XX}</code> où XX est l\'id du dossier ;</li>'
            + '<li>Mandat : Le format à respecter est <code>{"year":XXXX}</code> où XXXX est l\'année du mandat (ex : 2020 pour l\'année 2019-2020) ;</li>'
            + '<li>Mandat (rôle) : Le format à respecter est <code>{"year":XXXX, "role":Y}</code> où XXXX est l\'année du mandat et Y l\'id du role à vérifier ;</li>'
            + '<li>Validation manuelle : Le format à respecter est <code>{}</code>.</li></ul>';

        document.querySelector('#div_id_data input').after(el);
    </script>
{% endblock %}

{% block js_after_webpack %}
    {{ form.media.js }}
{% endblock %}
