{% extends "common/base.html" %}
{% load static %}
{% load statistic_extras %}

{% block page_seo %}
    {% include 'common/title.html' with title="Tableau de bord administrateur" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
<style>
    canvas {
        position: relative;
        max-height: 30vh;
        width: 99%;
    }
</style>
{% endblock %}

{% block page_title %}
    Tableau de bord - supervision
{% endblock %}

{% block content %}
    {% if alert.disk_free < 100 %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                <strong>Attention !</strong> L'espace disque de l'instance hébergeant Portail VA risque de manquer d'espace
                    (taux d'occupation : <strong>{{alert.disk_total|percent:alert.disk_used}} %</strong>) !
                </div>
            </div>
        </div>
    {% endif %}
    <div class="accordion" id="accordionDashboard">
        <div class="card dashboard-card-top-round">
            <h5 class="card-header dashboard-section d-flex justify-content-between align-items-center"
                id="headingEvent" data-toggle="collapse" data-target="#collapseEvent" aria-expanded="true" aria-controls="collapseEvent">
                <i aria-hidden="true" class="fa fa-calendar-o"></i>
                Validations d'évènements
                <span class="ml-auto badge badge-{% if events_stats.unpublished > 5 %}danger{% elif events_stats.unpublished > 0 %}warning{% else %}success{% endif %} badge-pill">{{ events_stats.unpublished }}</span>
            </h5>
            <div class="card-body collapse show" id="collapseEvent" aria-labelledby="headingEvent" data-parent="#accordionDashboard">
                <h5 class="card-title">Évènements à valider</h5>
                {% if events %}
                    <div class="alert alert-warning" role="alert">
                        Lorsque vous modérez des évènements devant s'afficher sur Affichage Dynamique, pensez bien à <strong style="text-decoration: underline;">vérifier</strong> la taille de l'affiche.<br/>
                        Pour que les évènements soient présents sur Affichage Dynamique, pensez à aller déclencher manuellement la synchronisation sur <a href="https://affichage.bde-insa-lyon.fr/">Affichage Dynamique</a>.
                    </div>
                    <ul class="list-group">
                    {% for event in events %}
                        <a href="{% url 'association-event-detail' event.association.id event.id %}"
                           class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {{ event.name }}
                                </div>
                                <div class="col-md-6">
                                    <i aria-hidden="true" class="fa fa-fw fa-calendar"></i><span class="text-muted">Du {{ event.begins_at }} au {{ event.ends_at }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text text-center">Aucun évènement à valider</p>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="card dashboard-card-round">
            <h5 class="card-header dashboard-section d-flex justify-content-between align-items-center"
                id="headingBotInsa" data-toggle="collapse" data-target="#collapseBotInsa" aria-expanded="false" aria-controls="collapseBotInsa">
                <i aria-hidden="true" class="fa fa-book"></i>
                Validations de page Bot'INSA
                <span class="ml-auto badge badge-{% if directory|length > 5 %}danger{% elif directory|length > 0 %}warning{% else %}success{% endif %} badge-pill">{{ directory|length }}</span>
            </h5>
            <div class="card-body collapse" id="collapseBotInsa" aria-labelledby="headingBotInsa" data-parent="#accordionDashboard">
                <h5 class="card-title">Vues à valider</h5>
                {% if directory %}
                    <ul class="list-group">
                    {% for botinsa in directory %}
                        <a href="{% url 'association-directory-detail' botinsa.association.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if botinsa.association.acronym %}
                                        {{ botinsa.association.acronym }} <small class="text-muted">({{ botinsa.association.name }})</small>
                                    {% else %}
                                        {{ botinsa.association.name }}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <i aria-hidden="true" class="fa fa-fw fa-pencil"></i><span class="text-muted">Mis à jour le {{ botinsa.updated_at }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text text-center">Aucune vue à valider</p>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="card dashboard-card-round">
            <h5 class="card-header dashboard-section d-flex justify-content-between align-items-center"
                id="headingArticle" data-toggle="collapse" data-target="#collapseArticle" aria-expanded="false" aria-controls="collapseArticle">
                <i aria-hidden="true" class="fa fa-bullhorn"></i>
                Validations d'articles
                <span class="ml-auto badge badge-{% if articles|length > 5 %}danger{% elif articles|length > 0 %}warning{% else %}success{% endif %} badge-pill">{{ articles|length }}</span>
            </h5>
            <div class="card-body collapse" id="collapseArticle" aria-labelledby="headingArticle" data-parent="#accordionDashboard">
                <h5 class="card-title">Articles à valider</h5>
                {% if articles %}
                    <ul class="list-group">
                    {% for article in articles %}
                        <a href="{% url 'association-article-detail' article.association.id article.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {{ article.title }}
                                </div>
                                <div class="col-md-3">
                                    <i aria-hidden="true" class="fa fa-fw fa-calendar"></i><span class="text-muted">Crée le {{ article.created_at }}</span>
                                </div>
                                <div class="col-md-3">
                                    <i aria-hidden="true" class="fa fa-fw fa-pencil"></i><span class="text-muted">Modifié le {{ article.updated_at }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text text-center">Aucun article à valider</p>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="card dashboard-card-round">
            <h5 class="card-header dashboard-section" id="headingStats"
                data-toggle="collapse" data-target="#collapseStats" aria-expanded="false" aria-controls="collapseStats">
                <i aria-hidden="true" class="fa fa-bar-chart-o"></i>Statistiques - Associations et évènements
            </h5>
            <div class="card-body collapse" id="collapseStats" aria-labelledby="headingStats" data-parent="#accordionDashboard">
                <h5 class="card-title">Chiffres</h5>
                <div class="row">
                    <div class="col-md-4">
                        <p class="card-text text-center">
                            <strong class="figure">{{ association_stats.active }}</strong>
                            <br/> associations actives
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text text-center">
                            <strong class="figure">{{ association_stats.members.all_members_number__sum }}</strong>
                            <br/> adhérents dans les associations
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="card-text text-center">
                            <strong class="figure">{{ events_stats.published }}</strong>
                            <br/> évènements publiés (depuis 180 jours)
                        </p>
                    </div>
                </div>
                <br/>

                <h5 class="card-title">Statistiques</h5>
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-3">
                        <canvas id="chart-members"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="chart-location"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="chart-cave"></canvas>
                    </div>
                    <div class="col-md-3">
                        <canvas id="chart-event-publish"></canvas>
                    </div>
                </div>
                <br/>
                <h5 class="card-title">Situation administrative</h5>
                <div class="row justify-content-between align-items-center">
                    {% for requirement in requirement_stats %}
                    <div class="col-md-4">
                        <br/>
                        <p class="card-text text-center">{{ requirement.name }}</p>
                        <canvas id="chart-requirement-{{ requirement.id }}"></canvas>
                        <br/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <div class="card dashboard-card-round">
            <h5 class="card-header dashboard-section d-flex justify-content-between align-items-center"
                id="headingAlert" data-toggle="collapse" data-target="#collapseAlert" aria-expanded="false" aria-controls="collapseAlert">
                <i aria-hidden="true" class="fa fa-warning"></i>
                Indicateurs d'alerte (expérimental)
                <span class="ml-auto badge badge-{% if alert.sum > 5 %}danger{% elif alert.sum > 0 %}warning{% else %}success{% endif %} badge-pill">{{ alert.sum }}</span>
            </h5>
            <div class="card-body collapse" id="collapseAlert" aria-labelledby="headingAlert" data-parent="#accordionDashboard">
                <h5 class="card-title">Statistiques sur l'instance</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="chart-container">
                            <canvas id="chart-disk"></canvas>
                        </div>
                    </div>
                </div>
                <br/>
                <h5 class="card-title">{{ alert.user|length }} associations sans utilisateur (inclut les associations non-validées)</h5>
                {% if alert.user %}
                    <ul class="list-group">
                    {% for asso in alert.user %}
                        <a href="{% url 'association-detail' asso.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if asso.acronym %}
                                        {{ asso.acronym }} <small class="text-muted">({{ asso.name }})</small>
                                    {% else %}
                                        {{ asso.name }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% endif %}
                <br/>

                <h5 class="card-title">{{ alert.disconnected|length }} associations où un des utilisateurs ne s'est pas connecté en 180 jours</h5>
                {% if alert.disconnected %}
                    <ul class="list-group">
                    {% for asso in alert.disconnected %}
                        <a href="{% url 'association-detail' asso.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if asso.acronym %}
                                        {{ asso.acronym }} <small class="text-muted">({{ asso.name }})</small>
                                    {% else %}
                                        {{ asso.name }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% endif %}
                <br/>

                <h5 class="card-title">{{ alert.no_referent|length }} associations sans référent</h5>
                {% if alert.no_referent %}
                    <ul class="list-group">
                    {% for asso in alert.no_referent %}
                        <a href="{% url 'association-detail' asso.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if asso.acronym %}
                                        {{ asso.acronym }} <small class="text-muted">({{ asso.name }})</small>
                                    {% else %}
                                        {{ asso.name }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% endif %}
                <br/>

                <h5 class="card-title">{{ alert.user_privilege|length }} associations où un référent est aussi un de ses utilisateurs</h5>
                {% if alert.user_privilege %}
                    <ul class="list-group">
                    {% for asso in alert.user_privilege %}
                        <a href="{% url 'association-detail' asso.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if asso.acronym %}
                                        {{ asso.acronym }} <small class="text-muted">({{ asso.name }})</small>
                                    {% else %}
                                        {{ asso.name }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% endif %}
                <br/>

                <h5 class="card-title">{{ alert.requirement_expiration|length }} conditions expirant dans 30 jours ou moins</h5>
                {% if alert.requirement_expiration %}
                    <ul class="list-group">
                    {% for requirement in alert.requirement_expiration %}
                        <a href="{% url 'requirement-detail' requirement.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-10">
                                    {{ requirement.name }} <small class="text-muted">({{ requirement.active_until }})</small>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="card dashboard-card-round">
            <h5 class="card-header dashboard-section d-flex justify-content-between align-items-center"
                id="headingSupervised" data-toggle="collapse" data-target="#collapseSupervised" aria-expanded="false" aria-controls="collapseSupervised">
                <i aria-hidden="true" class="fa fa-building-o"></i>
                Associations supervisées
                <span class="ml-auto badge badge-primary badge-pill">{{ supervised_assos|length }}</span>
            </h5>
            <div class="card-body collapse" id="collapseSupervised" aria-labelledby="headingSupervised" data-parent="#accordionDashboard">
                {% if supervised_assos %}
                    <h5 class="card-title">Liste de vos associations</h5>
                    <ul class="list-group">
                    {% for asso in supervised_assos %}
                        <a href="{% url 'association-detail' asso.id %}" class="list-group-item list-group-item-action flex-column">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    {% if asso.acronym %}
                                        {{ asso.acronym }} <small class="text-muted">({{ asso.name }})</small>
                                    {% else %}
                                        {{ asso.name }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <h5 class="card-title text-center">Aucune association vous est affiliée</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script id="data" type="application/json">
{
    "alert": {"disk_free": {{ alert.disk_free }},
    "disk_used": {{ alert.disk_used }}},
    "associations": {
        "active": {{ association_stats.active }},
        "members": {
            "active_members": {{ association_stats.members.active_members_number__sum }},
            "all_members": {{ association_stats.members.all_members_number__sum }}
        },
        "place": {{ association_stats.place }},
        "cave": {{ association_stats.cave }}
    },
    "events": {"published": {{ events_stats.published }},
    "unpublished": {{ events_stats.unpublished }}},
    "requirement": [{% for req in requirement_stats %}{"id": {{ req.id }}, "type": "{{ req.type }}", "validate": {{ req.validate }}}{% if not forloop.last %},{% endif %}{% endfor %}]
}
</script>
<script src="{% static "bundle/js/dashboard.min.js" %}"></script>
{% endblock %}
