{% extends "common/base.html" %}
{% load static %}
{% load utils_filters %}

{% block page_title %}
    Bienvenue sur Portail VA !
{% endblock %}

{% block css_js_header %}
    <meta property="pva:modal:api" content="{% url "api-v1-directory-index" %}"/>
{% endblock %}

{% block content %}
    <blockquote class="blockquote">
        <p class="mb-0 text-left">
            Ici tu trouveras le <a href="{% url 'association-directory-public' %}">Bot'INSA</a>, grand annuaire des associations INSAliennes.
            Tu pourras y dénicher des informations sur toutes les associations, comment les contacter, leurs permanences et leurs événements.<br/>
            Si tu souhaites suivre les actualités de la Vie Associative en profondeur, n'hésite pas à nous rejoindre aussi sur les réseaux sociaux !
        </p>
        <ul class="list-inline text-center" style="font-size: xx-large;">
            <li class="list-inline-item"><a href="{{ contact_links.insta }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="{{ contact_links.fb }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="{{ contact_links.discord }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-discord"></i></a></li>
        </ul>
        <p class="text-left">En te connectant en tant qu’association, tu auras également accès à ton espace personnel, mais aussi à beaucoup de ressources qui te seront utiles.</p>
        <p class="mb-0 text-center">Va vite explorer tout ça et si tu rencontres un problème, tu peux nous contacter sur {{ contact_links.cva|anonymiseMail|safe }}, ou sur Discord, à très vite.</p>
        <p class="blockquote-footer text-center"><cite title="l’équipe CVA">l’équipe CVA.</cite></p>
    </blockquote>

    <div class="row mb-4">
        <div class="col-md-8 col-12" id="figures">
            <div class="card card-home">
                <h2 class="card-title">La VA en chiffres</h2>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/visuelAsso.png' %}"
                                 alt="Réseau d'association"
                                 class="rounded img-fluid"/>
                        </div>
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/carteVA.png' %}"
                                 alt="Carte VA"
                                 class="rounded img-fluid"/>
                        </div>
                        <div class="col-md-4 col-4">
                            <img src="{% static 'img/visuelEvenement2.svg' %}"
                                 alt="Evenements"
                                 class="rounded img-fluid"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row align-items-center">
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">{{ active_associations_count }}</strong><br/> associations actives
                            </p>
                        </div>
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">>3K</strong><br/> adhérents VA
                            </p>
                        </div>
                        <div class="col-md-4 col-4">
                            <p class="card-text text-center">
                                <strong class="figure">{{ recent_events_count }}</strong><br/> événements depuis septembre {{ school_year }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12" id="links">
            <div class="card card-home">
                <h2 class="card-title">Ressources pour les associations</h2>
                <div>
                    <div class="list-group list-group-flush">
                        <a href="{{ tools.affichage_url }}" rel="noreferrer noopener" target="_blank"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Afficher ton événement sur les écrans (RI, BMC, BDE) <i aria-hidden="true" class="fa fa-chevron-right"></i>
                        </a>
                        <a href="{{ tools.resa_url }}" rel="noreferrer noopener" target="_blank"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Voir les salles ou le matos que tu peux réserver (réservation à faire au BDE) <i aria-hidden="true" class="fa fa-chevron-right"></i>
                        </a>
                        <a href="{{ tools.wiki_url }}" rel="noreferrer noopener" target="_blank"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                Consulter le Wiki VA, boite à outil du responsable associatif <i aria-hidden="true" class="fa fa-chevron-right"></i>
                        </a>
                        {% for t in tools_ressources %}
                            <a href="{{ t.resource }}" rel="noreferrer noopener" target="_blank"
                               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    {{ t.description }} <i aria-hidden="true" class="fa fa-chevron-right"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 col-12" id="highlights">
            <h2>Associations à la une</h2>
            <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="5500">
                <div class="carousel-inner">
                {% for asso in highlights.association %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <div class="row">
                            {% if asso.logo_url %}
                            <div id="logo_bot_{{ asso.id }}" class="col-3 col-md-3 text-center">
                                <img src="{{ asso.logo_url }}" class="img-fluid" alt="Logo {{ asso.name }}"/>
                            </div>
                            <div class="col-9 col-md-9">
                            {% else %}
                            <div class="col-12">
                            {% endif %}
                                <h4>{{ asso.name }}</h4>
                                <p>{{ asso.current_directory_entry.description|truncatewords:20 }}</p>
                                <button type="button" class="btn btn-primary" data-js-association="{{ asso.id }}">
                                    <i aria-hidden="true" class="fa fa-plus"></i> Plus d'infos
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h2>Évènements à venir</h2>
            <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="4500">
                <div class="carousel-inner">
                {% for event in highlights.events %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                            {% if event.logo_url %}
                            <div id="logo_event_{{ event.id }}" class="col-3 col-md-3 text-center">
                                <img src="{{ event.logo_url }}" class="img-fluid" alt="Logo introuvable"/>
                            </div>
                            {% else %}
                            <div id="logo_event_{{ event.association.id }}" class="col-3 col-md-3 text-center">
                                <img src="{{ event.association.logo_url }}" class="img-fluid" alt="Logo introuvable"/>
                            </div>
                            {% endif %}
                            <div class="col-9 col-md-9">
                                <h4>{{ event.name }}</h4>
                                <p>{{ event.short_description|truncatechars:150 }}</p>
                                <button type="button" class="btn btn-primary" data-js-association="{{ event.association.id }}" data-js-event="{{ event.id }}">
                                    <i aria-hidden="true" class="fa fa-plus"></i> Plus d'infos
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'directory/asso_modals.html' %}
{% endblock %}

{% block js %}
<script src="{% static "bundle/js/directory.min.js" %}"></script>
{% endblock %}
