{% extends 'common/base.html' %}
{% load l10n %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des types de fichier" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des types de fichier
{% endblock %}

{% block quick_actions %}
{% if perms.event.add_eventtype %}
    <a href="{% url 'file-type-create' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <p>Les types de fichier servent à restreindre le dépôt de fichier réalisé par les associations pour certains dossiers. Vous trouverez ici la liste des types existants.</p>
        <table id="prettyTable" class="table table-bordered table-stripped" aria-label="Liste des types de fichier">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type MIME</th>
                {% if perms.file.change_filetype or perms.file.delete_filetype %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for file_type in object_list %}
                <tr>
                    <td>{{ file_type.name }}</td>
                    <td><code>{{ file_type.mime_type }}</code></td>
                    {% if perms.file.change_filetype or perms.file.delete_filetype %}
                    <td>
                        {% if perms.file.change_filetype %}
                        <a href="{% url 'file-type-update' file_type.id %}" data-toggle="tooltip" title="Modifier">
                            <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.file.delete_filetype %}
                        <a href="{% url 'file-type-delete' file_type.id %}" data-toggle="tooltip" title="Supprimer">
                            <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
