{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Exportation de données" name=app.site.litteral_name only %}
{% endblock %}

{% block page_title %}
    Exporter les données
{% endblock %}

{% block content %}
    <p>Cette page vous permet d'exporter les données liées aux associations vers un fichier Excel.</p>
    <form class="row text-center justify-content-center" method="post">
        {% csrf_token %}
        <div class="col-md-5 col-lg-5">
            <h4>Sélectionner les associations :</h4>
            <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Select association status">
                {% for f in filter.association %}
                <div class="form-check btn btn-primary{% if forloop.first %} active{% endif %}">
                    <input type="radio" name="filter" value="{{ f.value }}" id="option{{ forloop.counter0 }}" autocomplete="off"{% if forloop.first %} checked{% endif %}/>
                    <label class="form-check-label" for="option{{ forloop.counter0 }}">{{ f.label }}</label>
                </div>
                {% endfor %}
            </div>
            <h4>Sélectionner le thème :</h4>
            <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Select color option">
                {% for f in filter.theme %}
                <div class="form-check btn btn-primary{% if forloop.first %} active{% endif %}">
                    <input type="radio" name="color" value="{{ f.value }}" id="optionColor{{ forloop.counter0 }}" autocomplete="off"{% if forloop.first %} checked{% endif %}/>
                    <label class="form-check-label" for="optionColor{{ forloop.counter0 }}">{{ f.label }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            <h4>Données à exporter :</h4>
            <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Select data to export">
                {% for f in filter.column %}
                <div class="form-check btn btn-primary{% if forloop.first %} active{% endif %}">
                    <input type="checkbox" name="data" value="{{ f.value }}" id="checkData{{ forloop.counter0 }}" autocomplete="off"{% if forloop.first %} checked{% endif %}/>
                    <label class="form-check-label" for="checkData{{ forloop.counter0 }}">{{ f.label }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block btn-lg col-10 col-sm-8 col-md-4 mt-4 ml-auto mr-auto">
            <i aria-hidden="true" class="fa fa-download"></i> Télécharger
        </button>
    </form>
{% endblock %}

{% block js %}
<script type="application/javascript">
let idBNPInput = '';
const setProperCheckState = (event) => {
    // FIXME The event propagates to an yet unknown handler that prevents the box to be checked
    //       if you click on the input itself
    /** HTML input field attached to the event
     *
     * @type {HTMLInputElement}
     */
    let input = event.target;
    if (input.tagName === 'LABEL') {
        input = input.parentElement.querySelector("input[type='checkbox']");
    } else if (input.tagName === 'DIV') {
        input = input.querySelector("input[type='checkbox']");
    }
    if (input && !input.checked) {
        const checkEl = event.currentTarget.querySelectorAll(
            (input.id === idBNPInput) ? `input[type='checkbox']:not(#${idBNPInput})` : `#${idBNPInput}`
        );
        for (let i = 0; i < checkEl.length; i++) {
            checkEl[i].checked = false;
            checkEl[i].parentElement.classList.remove('active');
        }
    }
};

document.addEventListener('DOMContentLoaded', () => {
    const btnGroup = document.querySelectorAll('div[role="group"]');
    idBNPInput = btnGroup[btnGroup.length - 1].querySelector('input[value="BNP"]').id;
    btnGroup[btnGroup.length - 1].addEventListener('click', setProperCheckState, { capture: true, passive: true });
});
</script>
{% endblock %}
