{% extends 'common/base.html' %}
{% load humanize %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Détail de l'alerte temporaire "|add:object.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Détail d'une alerte temporaire
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'temporary-alert-list' %}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-list"></i> Retourner à la liste</a>
{% if perms.utils.delete_temporaryalert %}
    <a href="{% url 'temporary-alert-delete' object.id %}" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i> Supprimer</a>
{% endif %}
{% if perms.utils.change_temporaryalert %}
    <a href="{% url 'temporary-alert-update' object.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Mettre à jour</a>
{% endif %}
{% endblock %}

{% block content %}
    {% if object.comments %}
    <div class="alert alert-danger" role="alert">
        <p>Cette alerte temporaire n'est pas active pour le moment.</p>
    </div>
    {% endif %}

    {% include "common/detail/base_field.html" with title="Nom" value=object.name only %}
    {% include "common/detail/base_field.html" with title="Type" value=object.get_type_display only %}
    {% include "common/detail/base_field.html" with title="Contenu" value=object.content|safe only %}
    {% include "common/detail/base_field.html" with title="Date et heure de début" value=object.begins_at|date:'DATETIME_FORMAT' only %}
    {% include "common/detail/base_field.html" with title="Date et heure de fin" value=object.ends_at|date:'DATETIME_FORMAT' only %}
    {% include "common/detail/base_field.html" with title="Visibilité" value=object.get_display_to_display only %}
    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>
{% endblock %}