{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des alertes temporaires" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des alertes temporaires
{% endblock %}

{% block quick_actions %}
{% if perms.utils.add_temporaryalert %}
    <a href="{% url 'temporary-alert-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped responsive nowrap" aria-label="Liste des alertes temporaires">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Visibilité</th>
                {% if perms.utils.change_temporaryalert or perms.utils.delete_temporaryalert %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for alert in object_list %}
                <tr>
                    <td><a href="{% url 'temporary-alert-detail' alert.id %}">{{ alert.name }}</a></td>
                    <td data-order="{{ alert.begins_at|date:"U" }}">{{ alert.begins_at }}</td>
                    <td data-order="{{ alert.ends_at|date:"U" }}">{{ alert.ends_at }}</td>
                    <td data-order="{{ alert.get_display_to_display }}">{% if alert.is_displayed %}<abbr title="Visible"><i aria-hidden="true" class="fa fa-check-circle text-success"></i></abbr>{% endif %}{{ alert.get_display_to_display }}</td>
                    {% if perms.utils.change_temporaryalert or perms.utils.delete_temporaryalert %}
                    <td>
                        {% if perms.utils.change_temporaryalert %}
                        <a href="{% url 'temporary-alert-update' alert.id %}" data-toggle="tooltip" title="Modifier">
                            <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.utils.delete_temporaryalert %}
                        <a href="{% url 'temporary-alert-delete' alert.id %}" data-toggle="tooltip" title="Supprimer">
                            <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5"><em>Aucune alerte à afficher.</em></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
