/**
* calendar.css
*
* CSS for the calendar used to display the events of student organizations.
*
* Author: See list of contributors <https://gitlab.com/sia-insa-lyon/portailva/-/graphs/master?ref_type=heads>
* License: AGPL-3.0-or-later
*/

#calendar {
    width: 100%;
    margin: 0 auto;
}

/* Modal should be over the event list popover */
#modal-event {
    z-index: 10000;
}

/* Allow the event beginning time text to be readable */
.fc-event .fc-event-main {
    overflow: hidden;
    white-space: nowrap;
}

.fc-h-event .fc-event-main-frame {
    display: inline-flex;
}

/* Allow the all day text to be readable */
.fc .fc-timegrid-axis-cushion {
    font-size: 0.9rem;
}

/* Avoid the sticky day row in the day view */
.fc .fc-list-sticky .fc-list-day > * {
    position: initial;
}

/* Force the toolbar to shrink properly */
@media (width <= 768px) {
    .fc-toolbar {
        display: block !important;
        max-width: 95vw;
    }
}
