/**
* esg.css
*
* CSS used for ESG to properly display the theme options and the signature
*
* Author: Halunka Matthieu
* License: AGPL-3.0-or-later
*/

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--pva-grey-light);
    border: 1px solid var(--pva-grey);
    border-radius: 4px;
    color: var(--pva-grey-dark);
}

.esg-border {
    margin: 1em auto;
    width: min(500px, 80vw);
    border: solid 1px var(--pva-grey);
}

@media (width >= 768px) {
    .esg-border {
        width: max(350px, 100%);
    }
}

.color-chip {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    margin: 0 0 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    width: 0.9em;
    height: 0.9em;
    background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em;
}

.color-chip-blue {
    background: var(--pva-blue);
}

.color-chip-grey {
    background: var(--pva-grey-dark);
}

.color-chip-red {
    background: var(--pva-red);
}

#esg div .toast {
    position: absolute;
    top: 0;
    right: 0;
}
