/**
* map.css
*
* CSS overriding the leaflet and bootstrap theme
*
* Index:
* - Style used to handle leaflet cursors
* - Style used to handle bootstrap tab component customization
*
* Author: See list of contributors <https://gitlab.com/sia-insa-lyon/portailva/-/graphs/master?ref_type=heads>
* License: AGPL-3.0-or-later
*/

#map { height: min(50vh, 350px); }

.place-both { filter: hue-rotate(60deg); }

.place-cave { filter: hue-rotate(120deg); }

.nav-pills .nav-link {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--pva-red);
    color: var(--pva-red);
}

.nav-pills .nav-link.active {
    background-color: var(--pva-red);
}

.nav-pills .nav-link:hover[aria-selected="false"] {
    color: var(--pva-red-dark);
}

.nav-pills .nav-left { border-radius: 0.25rem 0 0 0.25rem; }
.nav-pills .nav-right { border-radius: 0 0.25rem 0.25rem 0; }
