<a href="{{ cancel_url }}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-times"></i> Annuler</a>
{% if form_name %}
<button form="{{ form_name }}" type="submit" class="btn btn-success"><i aria-hidden="true" class="fa fa-save"></i> Enregistrer</button>
{% endif %}
