<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            <strong>Attention !</strong> La suppression de {{ delete_type_name }} <em style="text-decoration: underline;">{{ delete_obj_name }}</em> est irréversible et entraînera la <u>perte</u> des données y étant associées.<br/>
            Voulez-vous <u>vraiment</u> poursuivre ?
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <p class="text-center">
                <button type="submit" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i> Confirmer la suppression</button>
            </p>
        </form>
    </div>
</div>
