<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            Êtes-vous sûr de vouloir publier <em>{{ publish_text }}</em> ?
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <p class="text-center">
                <button type="submit" class="btn btn-success"><i aria-hidden="true" class="fa fa-check"></i> Confirmer la publication</button>
            </p>
        </form>
    </div>
</div>
