<tr>
    <td>&nbsp;</td>
    <td class="container">
        <div class="content">
            <table class="main">
                <tr>
                    <td class="wrapper">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <h3>{{ article.title }}</h3>
                                    {% if article.featured_image and article.type == 'FEATURED' %}
                                        <div class="article-image">
                                            <img src="{{ article.featured_image.url }}" alt="Image article {{ article.id }}"/>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <p>{{ article.short_content }}</p>
                                    </div>
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           class="btn btn-primary">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="padding-bottom: 0;">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td><a href="{% url 'newsletter-article' article.pk %}"
                                                               class="button" rel="noopener"
                                                               target="_blank">En savoir plus</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </td>
    <td>&nbsp;</td>
</tr>