{% load static %}
{% load premailer %}

{% premailer site_url %}
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ article.title }}</title>
        <link href="{% static 'css/mail.css' %}" rel="stylesheet">
    </head>
    <body class="">
    <span class="preheader">{{ article.title }}</span>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td id="header" colspan="3">
                <img src="{% static 'img/va_white.png' %}" alt="Logo VA"/>
                <h1>{{ article.title }}</h1>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td class="container">
                <div class="content">
                    <table class="main">
                        <tr>
                            <td class="wrapper">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <h3>{{ article.title }}</h3>
                                            {% if article.featured_image %}
                                                <div class="article-image">
                                                    <img src="{{ article.featured_image.url }}" alt="Image article {{ article.id }}"/>
                                                </div>
                                            {% endif %}
                                            <div>
                                                {{ article.content | safe }}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td class="container">
                <div class="content">
                    <div class="footer">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-block">
                                    <span>BdE INSA Lyon</span><br>
                                    <span class="apple-link">20 avenue Albert Einstein - 69100 Villeurbanne</span>
                                    <br>
                                    <br>
                                    <span>&copy; {{ newsletter.created_at|date:'Y' }} BdE INSA Lyon, All rights reserved</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    </body>
    </html>
{% endpremailer %}