{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
{% if request.resolver_match.url_name == "auth_user_add" %}
<script src="{% static 'bundle/js/password.min.js' %}"></script>
<script src="{% static 'bundle/js/admin/passwordGenerator.min.js' %}"></script>
<script src="{% static "bundle/js/runtime.min.js" %}"></script>
{% endif %}
{% endblock %}