{% extends "common/base.html" %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Erreur 500" name=app.site.litteral_name only %}
    {% include 'common/seo_meta.html' with title="Erreur 500" link=site_url|add:request.path description="Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur GitLab pour nous faire remonter ça !" only %}
{% endblock %}

{% block page_title %}
    Erreur 500
{% endblock %}

{% block content %}
    <p>Il semblerait qu'un petit problème se soit produit, n'hésitez pas à nous contacter sur <a href="https://gitlab.com/sia-insa-lyon/portailva">GitLab</a> pour nous faire remonter ça !</p>
{% endblock %}