{% extends "common/base.html" %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Erreur 502" name=app.site.litteral_name only %}
    {% include 'common/seo_meta.html' with title="Erreur 502" link=site_url|add:request.path description="Le serveur nous a retourné des choses invraisemblables ! Veuillez réessayer, ou nous faire remonter ce problème sur GitLab !" only %}
{% endblock %}

{% block page_title %}
    Erreur 502
{% endblock %}

{% block content %}
    <p>Le serveur nous a retourné des choses invraisemblables !
        Veuillez réessayer, ou nous faire remonter ce problème sur <a href="https://gitlab.com/sia-insa-lyon/portailva">GitLab</a> !</p>
{% endblock %}