{% extends 'mail/base.html' %}

{% block content_html %}
<meta itemprop="name" content="Confirm Email"/>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-block">
      Vous recevez cet email, car un compte vous a été crée sur {{ app.site.name }}.
    </td>
  </tr>
  <tr>
    <td class="content-block">
      Cliquez sur le lien ci-dessous pour définir votre mot de passe.
    </td>
  </tr>
  <tr>
    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
      <a href="{{ reset_url }}" class="btn-primary" itemprop="url">Initialiser votre mot de passe</a>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      &mdash; L'équipe {{ app.site.name }}
    </td>
  </tr>
</table>

{% endblock %}