{% extends 'association/base_association.html' %}

{% block page_sub_title %}
    Fichiers
    {% if current_folder %}
        : {{ current_folder.name }}
    {% endif %}
{% endblock %}

{% block quick_actions %}
    {% if current_folder.is_writable and current_folder.id %}
        <a href="{% url 'association-file-upload' association.id current_folder.id %}" class="btn btn-primary"><i
                class="fa fa-upload"></i> Uploader un document</a>
    {% endif %}
{% endblock %}

{% block content_association %}
    <table class="table table-hover">
        <tr>
            <td colspan="2">
                {% if current_folder %}
                    {% if current_folder.parent %}
                        <i class="fa fa-folder"></i>
                        <a href="{% url 'association-file-tree' association.id current_folder.parent.id %}">..</a>
                    {% else %}
                        <i class="fa fa-folder"></i>
                        <a href="{% url 'association-file-tree' association.id %}">..</a>
                    {% endif %}
                {% else %}
                    {% if is_root %}
                        <i class="fa fa-folder"></i>
                        <a href="{% url 'association-resource-tree' association.id %}">Ressources</a>
                    {% endif %}
                {% endif %}

                {% for folder in folders %}
                    <tr>
                        <td colspan="2"><i class="fa fa-folder"></i> <a
                                href="{% url 'association-file-tree' association.id folder.id %}">{{ folder.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
        {% for file in files %}
            <tr>
                <td><i class="fa fa-file"></i>
                    <a href="{% url 'file-view' file.uuid %}" rel="noreferrer noopener" target="_blank">
                        {{ file.name }}
                    </a>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        {% if file.folder.id %}
                            <a href="{% url 'association-file-delete' association.id file.id %}"
                               data-toggle="tooltip"
                               class="btn btn-sm btn-danger"
                               title="Supprimer le fichier"><i
                                    class="fa fa-times"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>

        {% empty %}
            {% if current_folder.is_writable %}
                <tr>
                    <td><i>Aucun fichier dans ce répertoire</i></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}