{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Téléverser un fichier dans "|add:current_folder.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
    Téléverser un fichier
{% endblock %}

{% block quick_actions %}
    {% url 'association-file-tree' association.id current_folder.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="associationForm" only %}
{% endblock %}

{% block content_association %}
    <div class="alert alert-info">
        Ce fichier sera enregistré dans le dossier <samp>{{ current_folder.name }}</samp>.
    </div>
    <div class="alert alert-warning">
        {% if accepted_types %}
            Les types de fichier suivants sont acceptés : {% for type in accepted_types %}<code>.{{ type.name }}</code>{% endfor %}.
        {% else %}
            Aucun type de fichier n'est accepté pour ce dossier.
        {% endif %}
    </div>
    {% crispy form %}
{% endblock %}