{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des rôles pour les mandats" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des rôles pour les mandats
{% endblock %}

{% block quick_actions %}
{% if perms.association.add_peoplerole %}
    <a href="{% url 'people-role-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped" aria-label="Liste des rôles pour les mandats">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Position</th>
                {% if perms.association.change_peoplerole or perms.association.delete_peoplerole %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for role in object_list %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.position }}</td>
                    {% if perms.association.change_peoplerole or perms.association.delete_peoplerole %}
                    <td>
                        {% if perms.association.change_peoplerole %}
                        <a href="{% url 'people-role-update' role.id %}" data-toggle="tooltip" title="Modifier">
                            <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.association.delete_peoplerole %}
                        <a href="{% url 'people-role-delete' role.id %}" data-toggle="tooltip" title="Supprimer">
                            <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
