<div class="row mb-3">
    <div class="col-12">
        <strong>{{ title }}</strong>
        <div class="card bg-light">
            <div class="card-body">{% if value %}{{ value }}{% else %}<em>Non défini</em>{% endif %}</div>
        </div>
    </div>
</div>
