<div class="row mb-3">
    <div class="col-6">
        <strong>{{ titleFirst }}</strong>
        <div class="card bg-light">
            <div class="card-body">{% if value %}{{ valueFirst }}{% else %}<em>Non défini</em>{% endif %}</div>
        </div>
    </div>
    <div class="col-6">
        <strong>{{ titleSecond }}</strong>
        <div class="card bg-light">
            <div class="card-body">{% if value %}{{ valueSecond }}{% else %}<em>Non défini</em>{% endif %}</div>
        </div>
    </div>
</div>
