<div class="row mb-3">
    <div class="col-12">
        <strong>{{ title }}</strong>
        <div class="card bg-light">
            <div class="card-body">
                {% if link %}
                    <a href="{{ link }}" rel="noreferrer noopener" target="_blank">
                        <img class="img-fluid" src="{{ link }}" alt="Logo non accessible"/>
                    </a>
                {% else %}
                    <em>Non défini</em>
                {% endif %}
            </div>
        </div>
    </div>
</div>
