{% load utils_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{% static 'img/va_color.png' %}"/>
    <meta name="theme-color" content="#e93c46"/>
    <link rel="apple-touch-icon" href="{% static 'img/va_color_small.png' %}"/>
    <link rel="icon" id="favicon" type="image/png" href="{% static 'img/va_color_small.png' %}"/>
    {% block page_seo %}
        {% include 'common/title.html' with title="Accueil" name=app.site.litteral_name only %}
        {% include 'common/seo_meta.html' with title=app.site.litteral_name link=site_url|add:"/" description="Portail VA est la plateforme web des associations de l'INSA de Lyon. Vous trouverez ici des liens utiles, ainsi que un annuaire et un calendrier des évènements." only %}
    {% endblock %}
    {# Google bot #}
    <meta name="keywords" content="Portail VA, PVA, INSA, INSA Lyon, Association, Vie Associative, Conseil de la Vie Associative, CVA, VA, Bot'INSA"/>
    <meta name="distribution" content="Global"/>
    <meta name="category" content="Association, INSA Lyon, Vie Associative"/>
    <meta name="language" content="fr"/>
    <meta name="identifier-url" content="{{ site_url }}/"/>
    <meta name="resource-type" content="document"/>
    <meta name="robots" content="index, follow"/>
    <meta name="google" content="notranslate"/>
    <meta name="revisit-after" content="2"/>
    {# Open Graph / Facebook #}
    {% block page_seo_article %}
    <meta property="og:type" content="website"/>
    {% endblock %}
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:site_name" content="Portail VA"/>
    <meta property="og:image" content="{{ site_url }}{% static 'img/logo_mail.png' %}"/>
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:alt" content="Logo VA"/>
    {# Twitter #}
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:image" content="{{ site_url }}{% static 'img/logo_mail.png' %}"/>
    <meta property="twitter:image:alt" content="Logo VA"/>
    {# Stylesheets #}
    <link rel="stylesheet" href="{% static "bundle/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bundle/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bundle/css/main.min.css" %}"/>
    {% block css_js_header %}{% endblock %}
</head>
<body>
{# Menu #}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'homepage' %}">Portail<strong class="brand-colored">VA</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-nav-scroll mr-auto">
                <li class="nav-item{% if request.resolver_match.url_name == 'homepage' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'homepage' %}">Accueil</a>
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item{% if request.resolver_match.url_name == 'public-article-list' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'public-article-list' %}">Actualités</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == 'association-directory-public' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'association-directory-public' %}">Bot'INSA</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == 'public-calendar-view' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'public-calendar-view' %}">Calendrier</a>
                </li>
                {% else %}
                <li class="nav-item dropdown{% if request.resolver_match.url_name in 'public-article-list, association-directory-public, public-calendar-view' %} active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i aria-hidden="true" class="fas fa-globe"></i> Général<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'public-article-list' %} active{% endif %}" href="{% url 'public-article-list' %}"><i aria-hidden="true" class="fa fa-bullhorn"></i> Actualités</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'association-directory-public' %} active{% endif %}" href="{% url 'association-directory-public' %}"><i aria-hidden="true" class="fa fa-book"></i> Bot'INSA</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'public-calendar-view' %} active{% endif %}" href="{% url 'public-calendar-view' %}"><i aria-hidden="true" class="fa fa-calendar-o"></i> Calendrier public</a>
                    </div>
                </li>
                <li class="nav-item dropdown{% if request.resolver_match.url_name in 'associations-directory, draft-calendar-view, esg' %} active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><i aria-hidden="true" class="fas fa-tools"></i> Outils<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'associations-directory' %} active{% endif %}" href="{% url 'associations-directory' %}"><i aria-hidden="true" class="fas fa-address-book"></i> Annuaire</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'draft-calendar-view' %} active{% endif %}" href="{% url 'draft-calendar-view' %}"><i aria-hidden="true" class="fas fa-calendar-alt"></i> Calendier prévisionnel</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'esg' %} active{% endif %}" href="{% url 'esg' %}"><i aria-hidden="true" class="fas fa-signature"></i> Générateur de signature</a>
                        <a class="dropdown-item{% if request.resolver_match.url_name == 'vachecker' %} active{% endif %}" href="{% url 'vachecker' %}"><i aria-hidden="true" class="fas fa-user-check"></i> Vérificateur de cartes VA</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ tools.affichage_url }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fas fa-tv"></i> Affichage dynamique</a>
                        <a class="dropdown-item"
                           href="{{ tools.resa_url }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fas fa-city"></i> Résa BdE</a>
                        <a class="dropdown-item"
                           href="{{ tools.wiki_url }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-wikipedia-w"></i> Wiki VA</a>
                        {% for t in tools_ressources %}
                            {% if t.is_global %}
                            <a class="dropdown-item"
                               href="{{ t.resource }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="{{ t.icon }}"></i> {{ t.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% if my_associations.count == 1 %}
                    <li class="nav-item{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'association-detail' my_associations.0.id %}">Mon association</a>
                    </li>
                {% elif my_associations.count > 1 %}
                    <li class="nav-item dropdown{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Mes associations<span class="caret"></span></a>
                        <div class="dropdown-menu{% if request.resolver_match|check_navbar_association_active %} active{% endif %}">
                            {% for association in my_associations %}
                                <a class="dropdown-item{% if request.resolver_match|check_association_active:association.id %} active{% endif %}"
                                   href="{% url 'association-detail' association.id %}">{{ association.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}

                {# Admin stuff #}
                {% if request.user.is_active and request.user.is_staff %}
                    <li class="nav-item dropdown{% if request.resolver_match|check_navbar_supervision_active %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><i aria-hidden="true" class="fas fa-glasses"></i> Supervision<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if perms.association.admin_requirement %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'admin-dashboard' %} active{% endif %}"
                                   href="{% url 'admin-dashboard' %}"><i aria-hidden="true" class="fa fa-tachometer"></i> Tableau de bord</a>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'requirement-list' %} active{% endif %}"
                                   href="{% url 'requirement-list' %}"><i aria-hidden="true" class="fa fa-list-alt"></i> Situation administrative</a>
                                {% if perms.association.admin_association and perms.utils.admin_place %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'place-association-list' %} active{% endif %}"
                                   href="{% url 'place-association-list' %}"><i aria-hidden="true" class="fas fa-map-marked"></i> Lieux associatifs</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'export' %} active{% endif %}"
                                   href="{% url 'export' %}"><i aria-hidden="true" class="fa fa-file-text"></i> Exporter les données</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown{% if request.resolver_match.url_name in 'temporary-alert-list, association-list, category-list, file-folder-list, resource-folder-list, place-list, newsletter-list, tool-list, people-role-list, event-type-list, file-type-list, member-list' %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><i aria-hidden="true" class="fas fa-cog"></i> Gestion<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            {% if perms.association.admin_temporary_alert %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'temporary-alert-list' %} active{% endif %}"
                                   href="{% url 'temporary-alert-list' %}"><i aria-hidden="true" class="fa fa-comment"></i> Alertes</a>
                            {% endif %}
                            {% if perms.association.admin_association %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'association-list' %} active{% endif %}"
                                   href="{% url 'association-list' %}"><i aria-hidden="true" class="fa fa-university"></i> Associations</a>
                            {% endif %}
                            {% if perms.association.admin_category %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'category-list' %} active{% endif %}"
                                   href="{% url 'category-list' %}"><i aria-hidden="true" class="fas fa-bars"></i> Catégories d'association</a>
                            {% endif %}
                            {% if perms.file.admin_file %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'file-folder-list' %} active{% endif %}"
                                   href="{% url 'file-folder-list' %}"><i aria-hidden="true" class="fa fa-file"></i> Fichiers</a>
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'resource-folder-list' %} active{% endif %}"
                                   href="{% url 'resource-folder-list' %}"><i aria-hidden="true" class="fa fa-folder-open"></i> Ressources</a>
                            {% endif %}
                            {% if perms.utils.admin_place %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'place-list' %} active{% endif %}"
                                   href="{% url 'place-list' %}"><i aria-hidden="true" class="fa fa-map-marker"></i> Lieux</a>
                            {% endif %}
                            {% if perms.utils.admin_newsletter %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'newsletter-list' %} active{% endif %}"
                                   href="{% url 'newsletter-list' %}"><i aria-hidden="true" class="fa fa-envelope"></i> Newsletters</a>
                            {% endif %}
                            {% if perms.utils.admin_tool %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'tool-list' %} active{% endif %}"
                                   href="{% url 'tool-list' %}"><i aria-hidden="true" class="fa fa-toolbox"></i> Outils</a>
                            {% endif %}
                            {% if perms.event.admin_peoplerole %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'people-role-list' %} active{% endif %}"
                                   href="{% url 'people-role-list' %}"><i aria-hidden="true" class="fas fa-user-tag"></i> Rôles (mandature)</a>
                            {% endif %}
                            {% if perms.event.admin_eventtype %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'event-type-list' %} active{% endif %}"
                                   href="{% url 'event-type-list' %}"><i aria-hidden="true" class="fab fa-elementor"></i> Types d'évènement</a>
                            {% endif %}
                            {% if perms.file.admin_filetype %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'file-type-list' %} active{% endif %}"
                                   href="{% url 'file-type-list' %}"><i aria-hidden="true" class="far fa-file-code"></i> Types de fichier</a>
                            {% endif %}
                            {% if perms.auth.view_user %}
                                <a class="dropdown-item{% if request.resolver_match.url_name == 'member-list' %} active{% endif %}"
                                   href="{% url 'member-list' %}"><i aria-hidden="true" class="fa fa-user-alt"></i> Utilisateurs</a>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item dropdown-item-danger" href="{% url 'admin:index' %}"><i aria-hidden="true" class="fa fa-cogs"></i> Interface Django</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav navbar-nav-scroll">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <button class="btn btn-light icon-badge" type="button" role="button" data-toggle="tooltip" data-placement="bottom" title="Voir toutes vos alertes" data-alert="{% url 'api-v1-temporary-alert-user' %}">
                            <i aria-hidden="true" class="fas fa-bell"></i>
                            {% if alert_count %}
                            <span class="badge badge-danger pulse-animation">{{ alert_count }}</span>
                            {% endif %}
                            <span class="icon-badge-text">Alertes</span>
                        </button>
                    </li>
                    <li class="nav-item dropdown{% if request.resolver_match.url_name == 'member-change-password' or request.resolver_match.url_name == 'app-changelog' %} active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><i aria-hidden="true" class="fas fa-user"></i> {{ request.user.email }} <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item{% if request.resolver_match.url_name == 'member-change-password' %} active{% endif %}"
                               href="{% url 'member-change-password' %}"><i aria-hidden="true" class="fa fa-key"></i> Changer le mot de passe</a>
                            <a class="dropdown-item" href="{{ repository.wiki }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fa fa-life-ring"></i> Aide</a>
                            <a class="dropdown-item{% if request.resolver_match.url_name == 'app-changelog' %} active{% endif %}" href="{% url 'app-changelog' %}"><i aria-hidden="true" class="fa fa-plus-circle"></i> Nouveautés</a>
                            <a class="dropdown-item"
                               href="{{ repository.bugtracker }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fa fa-bug"></i> Signaler un problème</a>
                            <div class="dropdown-divider"></div>
                            <form id="logout-form" method="post" action="{% url 'member-logout' %}">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit"><i aria-hidden="true" class="fa fa-sign-out"></i> Déconnexion</button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item{% if request.resolver_match.url_name == 'member-login' %} active{% endif %}">
                        <a href="{% url 'member-login' %}" class="nav-link"><i aria-hidden="true" class="fa fa-sign-in"></i> Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container" role="main">
    <div id="temporary-alert-div" class="toast-container"></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-12">
            <h1>
                {% block page_title %}{% endblock %}
                <small class="text-muted">{% block page_sub_title %}{% endblock %}</small>

                <div class="btn-group float-right" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        {% block quick_actions %}{% endblock %}
                    </div>
                </div>
            </h1>
            <hr>
        </div>
    </div>
    {% block content %}{% endblock %}
</main>

<div class="scroll-top">
    <i aria-hidden="true" class="fas fa-chevron-up"></i>
</div>

<footer class="px-3">
    <p class="text-muted">
        <span class="brand">&copy; SIA INSA Lyon {% now "Y" %} - <a href="{% url 'mention' %}">Mentions légales</a></span>
    </p>
    <p class="text-muted">
        {% if git_version.name %}
        <span class="version">Version : <a href="{{ git_version.url }}">{{ git_version.name }}</a></span>
        {% else %}
        <span class="version">Version : <a href="{{ repository.tags }}" rel="noreferrer noopener" target="_blank">{{ repository.release }}</a></span>
        {% endif %}
    </p>
    <div>
        <ul>
            <li><a href="{{ repository.url }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-gitlab brand-colored"></i></a></li>
            <li><a href="{{ contact_links.insta }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-instagram brand-colored"></i></a></li>
            <li><a href="{{ contact_links.fb }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-facebook-f brand-colored"></i></a></li>
            <li><a href="{{ contact_links.discord }}" rel="noreferrer noopener" target="_blank"><i aria-hidden="true" class="fab fa-discord brand-colored"></i></a></li>
        </ul>
    </div>
</footer>
{# Non-rendering Javascript #}
<script type="text/javascript" src="{% static "bundle/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "bundle/js/bootstrap.min.js" %}"></script>
{# Rendering Javascript #}
<script type="text/javascript" src="{% static "bundle/js/main.min.js" %}"></script>
{% block js %}{% endblock %}
<script type="text/javascript" src="{% static "bundle/js/runtime.min.js" %}"></script>
{# Rendering Javascript that needs JQuery or other exposed libs loaded with Webpack #}
{% block js_after_webpack %}{% endblock %}
</body>
</html>
