<link rel="canonical" href="{{ link }}"/>
<meta name="description" content="{{ description }}"/>
<meta property="og:url" content="{{ link }}"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="twitter:url" content="{{ link }}">
<meta property="twitter:title" content="{{ title }}"/>
<meta property="twitter:description" content="{{ description }}"/>