{% extends "base.html" %}


{% block page_title %}
    Bienvenue
{% endblock %}

{% block content %}
    <!--<div class="jumbotron">
        <h1 class="display-3 d-none d-md-block">Bienvenue !</h1>
        <h1 class="display-4 d-block d-md-none">Bienvenue !</h1>
        <p class="lead">
            {% if user.is_authenticated %}
                Sélectionnez votre association parmi la liste ci-dessus avant de poursuivre.
            {% else %}
                Vous pouvez vous identifier pour accéder aux données de votre association. <br>
                Si vous n'êtes pas connecté,
                vous pouvez tout de même accéder au Bot'INSA en ligne ou au calendrier des évènements
                insaliens.
            {% endif %}
        </p>
    </div>-->

    <div class="row mb-4">
    <div class="col-md-6 col-12" id="highlights">
        <h2>Associations à la une</h2>
        <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="5500">
            <div class="carousel-inner">
                {% for asso in highlights.association %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        {% if asso.logo_url %}
                            <div class="col-3 col-md-3 text-center">
                                <img src="{{ asso.logo_url }}" alt="Logo asso" class="img-fluid">
                            </div>
                            <div class="col-9 col-md-9">
                        {% else %}
                            <div class="col-12">
                        {% endif %}
                        <h4>
                            {{ asso.name }}
                        </h4>
                        <p>
                            {{ asso.current_directory_entry.description|truncatewords:20 }}
                        </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#assoDetails{{ asso.id }}">
                            Plus d'infos
                        </button>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <h2>Évènements à venir</h2>
            <div id="highlightsAsso" class="carousel slide mb-4" data-ride="carousel" data-interval="4500">
                <div class="carousel-inner">
                    {% for event in highlights.events %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                            {% if event.logo_url %}
                                <div class="col-3 col-md-3 text-center">
                                    <img src="{{ event.logo_url }}" alt="Logo event" class="img-fluid">
                                </div>
                                <div class="col-9 col-md-9">
                            {% else %}
                                <div class="col-12">
                            {% endif %}
                            <h4>
                                {{ event.name }}
                            </h4>
                            <p>
                                {{ event.short_description|truncatechars:150 }}
                            </p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#assoDetails{{ event.association.id }}">
                                Plus d'infos
                            </button>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}