{% extends 'association/base_association.html' %}

{% block page_seo %}
    {% include 'common/title.html' with title="Suppression du tarif "|add:object.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
  Suppression d'un tarif
{% endblock %}

{% block quick_actions %}
    {% url 'association-event-detail' association.id event.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content_association %}
    <div class="alert alert-info" role="alert">
        Ce tarif est lié à l'évènement <strong>{{ event.name }}</strong>.
    </div>
    {% include 'common/form/delete.html' with delete_type_name="ce tarif" delete_obj_name=object.name %}
{% endblock %}