{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% include 'common/title.html' with title="Ajout d'un tarif pour "|add:event.name name=app.site.litteral_name only %}
{% endblock %}

{% block page_sub_title %}
  Nouveau tarif
{% endblock %}

{% block quick_actions %}
    {% url 'association-event-detail' association.id event.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url form_name="eventPriceForm" only %}
{% endblock %}

{% block content_association %}
    <div class="alert alert-info" role="alert">
        Ce nouveau tarif sera lié à l'évènement <strong>{{ event.name }}</strong>.
    </div>
    {% crispy form %}
{% endblock %}