{% extends "common/base.html" %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Générateur de signature" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static 'bundle/css/esg.min.css' %}"/>
{% endblock %}

{% block page_title %}
    Générateur de signature
{% endblock %}

{% block content %}
<div class="mx-auto mb-5">
    <p>Utilise cette interface pour générer ta signature associative.</p>
    <hr/>
    <div id="esg" class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <h4>Paramétrages</h4>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Thème : </legend>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="colorChoiceRed" value="red" checked="checked">
                            <label class="form-check-label" for="colorChoiceRed">Rouge <span class="color-chip color-chip-red"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="colorChoiceGrey" value="grey">
                            <label class="form-check-label" for="colorChoiceGrey">Gris <span class="color-chip color-chip-grey"></span></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="colorChoiceBlue" value="blue">
                            <label class="form-check-label" for="colorChoiceBlue">Bleu <span class="color-chip color-chip-blue"></span></label>
                        </div>
                    </div>
                </div>
            </fieldset>
            {% if my_associations.count > 0 %}
            <div class="form-group">
                <label for="templateSelectChoice">Remplir en suivant le modèle suivant :</label>
                <select class="form-control" id="templateSelectChoice">
                    <option value="0" selected="selected">Vierge (Par défaut)</option>
                {% for asso in my_associations %}
                    <option value="{{ asso.id }}">{% if not asso.acronym %}{{ asso.name }}{% else %}{{ asso.acronym }} ({{ asso.name }}){% endif %}</option>
                {% endfor %}
                </select>
            </div>
            {% endif %}
            <h4>Méthode 1 : Signature à sélectionner puis copier/coller</h4>
            <small>Pour Gmail, Outlook ou tout autre client n'acceptant pas l'insertion de code HTML ...</small>
            {# Don't change style attr to class attr inside this node since we need to retrive the raw html to use with mail #}
            <div class="esg-border"></div>
            <h4>Méthode 2 : Signature - code HTML à insérer</h4>
            <small>Pour Zimbra, Thunderbird ...</small>
            <pre id="code"></pre>
            <div aria-live="polite" aria-atomic="true" class="position-relative">
                <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                    <div class="toast-header alert-danger">
                        <strong class="mr-auto"><i aria-hidden="true" class="fas fa-check-circle text-success"></i> Copie réussie</strong>
                        <button type="button" role="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" role="button" class="btn btn-primary">
                <i aria-hidden="true" class="fas fa-clipboard"></i> Copier le code dans le presse papier
            </button>
        </div>
    </div>
</div>
<br/>
{% endblock %}

{% block js %}
<script id="theme-info" type="application/json">
{
    "asso": [{% for asso in my_associations %}{% with asso.current_directory_entry as directory %}
        {
            "id": {{ asso.id }},
            "logo": "{{ asso.logo_url|default_if_none:"" }}",
            "mail": "{{ directory.contact_address|default_if_none:"" }}",
            "phone": "{{ directory.phone|default_if_none:"" }}",
            "facebook": "{{ directory.facebook_url|default_if_none:"" }}",
            "instagram": "{{ directory.instagram_url|default_if_none:"" }}",
            "twitter": "{{ directory.twitter_url|default_if_none:"" }}",
            "website": "{{ directory.website_url|default_if_none:"" }}"
        }{% if not forloop.last %},{% endif %}{% endwith %}{% endfor %}
    ],
    "color": {
        "blue": "#007bff",
        "grey": "#5e5e5d",
        "red": "#e20613"
    },
    "logo": {
        "main": "{{ site_url }}{% static 'img/va_color_small.png' %}",
        "root": "{{ site_url }}{% static 'img/esg/' %}",
        "fb": "fb.png",
        "ig": "ig.png",
        "ld": "ld.png",
        "tw": "tw.png",
        "web": "web.png",
        "yt": "yt.png"
    }
}
</script>
<script type="application/javascript" src="{% static 'bundle/js/esg.min.js' %}"></script>
{% endblock %}