{% extends "common/base.html" %}
{% load static %}

{% block page_seo %}
{% include 'common/title.html' with title="Vérificateur de cartes VA" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
<link rel="stylesheet" href="{% static 'bundle/css/esg.min.css' %}" />
{% endblock %}

{% block page_title %}
Vérificateur de cartes VA
{% endblock %}

{% block content %}
<div class="mx-auto mb-5">
    <p>Utilise cette interface pour vérifier la validité d'une carte VA</p>
    <div class="container">
        <div class="form-inline">
            <label class="mr-sm-2" for="search-select">Mode de recherche</label>
            <select class="form-control" id="search-select">
                <option value="name">Nom</option>
                <option value="student-number">Numéro étudiant</option>
                <option value="card-number">Numéro de carte</option>
            </select>
        </div>

        <div id="student-number-form" class="form-group">
            <label for="va-input">Numéro étudiant sans le premier 0 <span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="va-input" placeholder="Numéro étudiant" />
        </div>
        <div id="card-number-form" class="form-group">
            <label for="card-input">Numéro de carte VA (12 chiffres) <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="card-input" placeholder="Numéro de carte" />
        </div>
        <div id="student-name-form" class="form-group">
            <label for="last-name">Nom <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="last-name" placeholder="Nom de l'étudiant" />
            <label for="first-name">Prénom <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="first-name" placeholder="Prénom de l'étudiant" />
            <label for="birthday">Date de naissance</label>
            <input type="date" id="birthday" class="form-control">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="" id="slugify" checked>
                <label class="custom-control-label" for="slugify">
                    Ignorer les accents
                </label>
            </div>
        </div>
        <div class="form-group">
            <p><span class="text-danger">*</span> Champ obligatoire</p>
            <button id="checkVA" class="btn btn-primary">Vérifier</button>
        </div>
    </div>
    <hr>
    <div id="results-section" style="display: none;">
        <table id="results" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adhésions</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="vaOutput">

            </tbody>
        </table>
    </div>

    <div id="no-results-placeholder" style="display: none;">
        <div class="container d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fas fa-search fa-3x"></i>
            <h2>Aucun résultat</h2>
            <p>Aucun résultat ne correspond à votre recherche.</p>
        </div>
    </div>
    <div id="error" style="display: none;">
        <div class="container d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fas fa-error fa-3x"></i>
            <h2>Une erreur s'est produite</h2>
            <p id="error-txt"></p>
        </div>
    </div>
    <div id="modal-container"></div>
</div>
<br />
{% endblock %}

{% block js %}
<!-- Currently, the code that generates the UI is located in static/js/src/vachecker.js -->
<script type="application/javascript" src="{% static 'bundle/js/vachecker.min.js' %}"></script>
{% endblock %}