{% extends 'common/base.html' %}

{% block page_seo %}
    {% include 'common/title.html' with title="Suppression de la newsletter "|add:object.title name=app.site.litteral_name only %}
{% endblock %}

{% block page_title %}
  Suppression d'une newsletter
{% endblock %}

{% block quick_actions %}
    {% url 'newsletter-detail' object.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <strong>Attention !</strong> Une newsletter supprimée ne pourra plus être visionnée depuis un navigateur.
    </div>
    {% include 'common/form/delete.html' with delete_type_name="la newsletter" delete_obj_name=object.title %}
{% endblock %}
