{% extends 'association/base_association.html' %}
{% load humanize %}

{% block page_seo %}
    {% include 'common/title.html' with title="Détail de la newsletter "|add:object.title name=app.site.litteral_name only %}
{% endblock %}

{% block page_title %}
    Détail d'une newsletter
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'newsletter-list' %}" class="btn btn-secondary"><i aria-hidden="true" class="fa fa-list"></i> Retourner à la liste</a>
    {% if can_delete %}
        <a href="{% url 'newsletter-delete' object.id %}" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i>
            Supprimer</a>
    {% endif %}
    {% if can_update %}
        <a href="{% url 'newsletter-update' object.id %}" class="btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Mettre à
            jour</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if object.sent %}
        <div class="alert alert-success" role="alert">
            Cette newsletter a déjà été envoyée.
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Cette newsletter est toujours en attente d'envoi.
        </div>
    {% endif %}

    {% include "common/detail/base_field.html" with title="Sujet" value=object.title only %}
    {% include "common/detail/base_field.html" with title="Contenu" value=object.content|linebreaksbr only %}

    <p>
        <small><em>Dernière modification : {{ object.updated_at|date:'DATETIME_FORMAT' }}</em></small>
    </p>

    <a href="{% url 'newsletter-online' object.id %}" class="btn btn-info" target="_blank" rel="noopener">
        <i aria-hidden="true" class="fa fa-share-square"></i> Consulter le mail</a>
{% endblock %}
