{% extends 'common/base.html' %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des newsletter" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des newsletters
{% endblock %}

{% block quick_actions %}
    <a href="{% url 'newsletter-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endblock %}

{% block content %}
    <div class="row">
        <table id='prettyTable' class="table table-bordered table-stripped" aria-label="Liste des newsletters">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Envoyée</th>
                <th data-orderable="false">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for newsletter in object_list %}
                <tr>
                    <td><a href="{% url 'newsletter-detail' newsletter.id %}">{{ newsletter.title }}</a></td>
                    <td data-order="{{ newsletter.created_at|date:"U" }}">{{ newsletter.created_at }}</td>
                    <td data-order="{{ newsletter.sent }}">
                        <i aria-hidden="true" class="fa fa-{% if newsletter.sent %}check{% else %}times{% endif %}"></i>
                    </td>
                    <td>
                        <a href="{% url 'newsletter-online' newsletter.id %}" data-toggle="tooltip" title="Consulter le mail">
                            <i aria-hidden="true" class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5"><em>Aucune newsletter.</em></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
