{% extends 'association/base_association.html' %}
{% load utils_filters %}

{% block page_seo %}
    {% with d=days|get_tuple:object.day start=object.begins_at|time:"H:i" end=object.ends_at|time:"H:i" %}
        {% include 'common/title.html' with title="Supprimer l'horaire d'ouverture "|add:d|add:" de "|add:start|add:" à "|add:end name=app.site.litteral_name only %}
    {% endwith %}
{% endblock %}

{% block page_sub_title %}
  Supprimer un horaire d'ouverture
{% endblock %}

{% block quick_actions %}
    {% url 'association-directory-detail' association.id as cancel_url %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content_association %}
    <div class="alert alert-warning" role="alert">
        <strong>Attention !</strong> Cette action nécessitera une validation du responsable VA avant publication effective.
    </div>
    {% with d=days|get_tuple:object.day start=object.begins_at|time:"H:i" end=object.ends_at|time:"H:i" %}
        {% include 'common/form/delete.html' with delete_type_name="l'horaire de permanence" delete_obj_name=d|add:" de "|add:start|add:" à "|add:end %}
    {% endwith %}
{% endblock %}