{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block page_seo %}
    {% if folder %}
        {% include 'common/title.html' with title=folder.path|add:" (administrateur)" name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title="Ressources administrateur" name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if folder %}{{ folder.path }}{% else %}Ressources{% endif %}
{% endblock %}

{% block content %}
    <div class="panel panel-default mb-3">
        <div class="list-group">
            {% if folder %}
                {% if folder.parent %}
                    <a class="list-group-item" href="{% url 'resource-folder-list' folder_pk=folder.parent_id %}">
                        <i aria-hidden="true" class="fa fa-angle-double-up"></i> Revenir à {{ folder.parent }}
                    </a>
                {% else %}
                    <a class="list-group-item" href="{% url 'resource-folder-list' %}">
                        <i aria-hidden="true" class="fa fa-angle-double-up"></i> Revenir à la racine
                    </a>
                {% endif %}
            {% endif %}
            {% if folders %}
                {% for subfolder in folders %}
                    <div class="list-group-item clearfix">
                        <i aria-hidden="true" class="fa fa-folder"></i>
                        <a href="{% url 'resource-folder-list' folder_pk=subfolder.id %}">
                            {{ subfolder }}</a>
                        <div class="pull-right btn-group">
                            <a href="{% if folder %}{% url 'resource-folder-move' folder_pk=folder.id pk=subfolder.id %}{% else %}{% url 'resource-folder-move' pk=subfolder.id %}{% endif %}"
                                class="btn btn-sm btn-primary" data-toggle="tooltip" title="Déplacer le dossier ressource"
                            >
                                <i aria-hidden="true" class="fa fa-share-square"></i>
                            </a>
                            <a href="{% if folder %}{% url 'resource-folder-rename' folder_pk=folder.id pk=subfolder.id %}{% else %}{% url 'resource-folder-rename' pk=subfolder.id %}{% endif %}"
                                class="btn btn-warning btn-sm" data-toggle="tooltip" title="Renommer le dossier ressource">
                                <i aria-hidden="true" class="fa fa-pencil"></i>
                            </a>
                            <a href="{% if folder %}{% url 'resource-folder-delete' folder_pk=folder.id pk=subfolder.id %}{% else %}{% url 'resource-folder-delete' pk=subfolder.id %}{% endif %}"
                                class="btn btn-danger btn-sm" data-toggle="tooltip" title="Supprimer le dossier ressource">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if files %}
                {% for file in files %}
                    <div class="list-group-item clearfix">
                        <i aria-hidden="true" class="fa fa-info-circle text-info"
                            data-toggle="tooltip" data-html="true"
                            title="<p>Crée le {{ file.created_at|date:'DATETIME_FORMAT' }}<br/>Modif. le {{ file.updated_at|date:'DATETIME_FORMAT' }}<p>"
                        ></i>
                        <a href="{% url 'file-view' uuid=file.uuid %}" rel="noreferrer noopener" target="_blank">{{ file }}</a>
                        <div class="pull-right btn-group">
                            <form action="{% if folder %}{% url 'resource-file-change-public' folder_pk=folder.id pk=file.id %}{% else %}{% url 'resource-file-change-public' pk=file.id %}{% endif %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-{% if file.is_public %}success{% else %}secondary{% endif %}"
                                    data-toggle="tooltip" title="Rendre {% if file.is_public %}privé{% else %}public{% endif %}"
                                >
                                    <i aria-hidden="true" class="fa fa-{% if file.is_public %}eye btn-success{% else %}eye-slash btn-secondary{% endif %}"></i>
                                </button>
                            </form>
                            <a href="{% if folder %}{% url 'resource-file-move' folder_pk=folder.id pk=file.id %}{% else %}{% url 'resource-file-move' pk=file.id %}{% endif %}"
                                class="btn btn-sm btn-primary"
                                data-toggle="tooltip"
                                title="Déplacer la ressource"
                            >
                                <i aria-hidden="true" class="fa fa-share-square"></i>
                            </a>
                            <a href="{% if folder %}{% url 'resource-file-rename' folder_pk=folder.id pk=file.id %}{% else %}{% url 'resource-file-rename' pk=file.id %}{% endif %}"
                                class="btn btn-sm btn-warning"
                                data-toggle="tooltip"
                                title="Renommer la ressource"
                            >
                                <i aria-hidden="true" class="fa fa-pencil"></i>
                            </a>
                            <a href="{% if folder %}{% url 'resource-file-delete' folder_pk=folder.id pk=file.id %}{% else %}{% url 'resource-file-delete' pk=file.id %}{% endif %}"
                                class="btn btn-danger btn-sm"
                                data-toggle="tooltip"
                                title="Supprimer la ressource"
                            >
                                <i aria-hidden="true" class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if not files and not folders %}
                <div class="list-group-item list-group-item-info text-center">Ce dossier est vide</div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        Créer un dossier
                    </div>
                    <div class="card-body">
                        {% crispy new_folder %}
                        <button form="resourceFolderForm" type="submit" class="btn btn-success">
                            <i aria-hidden="true" class="fa fa-plus"></i> Créer
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Téléverser un fichier
                    </div>
                    <div class="card-body">
                        {% crispy new_file %}
                        <button form="resourceFileForm" type="submit" class="btn btn-success">
                            <i aria-hidden="true" class="fa fa-upload"></i> Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}