{% extends 'association/base_association.html' %}

{% block page_seo %}
    {% if current_folder %}
        {% include 'common/title.html' with title="Ressources dans "|add:current_folder.name name=app.site.litteral_name only %}
    {% else %}
        {% include 'common/title.html' with title="Ressources" name=app.site.litteral_name only %}
    {% endif %}
{% endblock %}

{% block page_sub_title %}
    {% if current_folder %}<br/>Ressources : {{ current_folder.name }}{% else %}Ressources{% endif %}
{% endblock %}

{% block content_association %}
    <table class="table table-stripped table-hover" aria-label="Liste des ressources associatives{% if current_folder %} dans {{ current_folder.name }}{% endif %}" role="presentation">
        {% if current_folder %}
            <tr><td>
                <i aria-hidden="true" class="fa fa-folder"></i> <a href="{% if current_folder.parent %}{% url 'association-resource-tree' association.id current_folder.parent.id %}{% else %}{% url 'association-resource-tree' association.id %}{% endif %}">..</a>
            </td></tr>
        {% else %}
            <tr><td><i aria-hidden="true" class="fa fa-arrow-left"></i> <a href="{% url 'association-file-tree' association.id %}">Retourner aux fichiers</a></td></tr>
        {% endif %}

        {% for folder in folders %}
            <tr><td><i aria-hidden="true" class="fa fa-folder"></i> <a href="{% url 'association-resource-tree' association.id folder.id %}">{{ folder.name }}</a></td></tr>
        {% endfor %}
        {% for file in files %}
            <tr>
                <td>
                    <i aria-hidden="true" class="fa fa-info-circle text-info"
                        data-toggle="tooltip" data-html="true"
                        title="<p>Crée le {{ file.created_at|date:'DATETIME_FORMAT' }}<br/>Modif. le {{ file.updated_at|date:'DATETIME_FORMAT' }}<p>"
                    ></i>
                    <a href="{% url 'file-view' file.uuid %}" rel="noreferrer noopener" target="_blank">{{ file.name }}</a>
                </td>
            </tr>
            {% empty %}
            <tr><td><em>Aucun fichier dans ce répertoire</em></td></tr>
        {% endfor %}
    </table>
{% endblock %}