{% extends 'association/base_association.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_seo %}
    {% include 'common/title.html' with title="Déplacement de /"|add:object.path|add:"/" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/form/select.min.css" %}"/>
{% endblock %}

{% block page_sub_title %}
  Déplacement d'un dossier ressource
{% endblock %}

{% block quick_actions %}
    {% if object.parent.id %}
    {% url 'resource-folder-list' folder_pk=object.parent.id as cancel_url %}
    {% else %}
    {% url 'resource-folder-list' as cancel_url %}
    {% endif %}
    {% include 'common/form/control.html' with cancel_url=cancel_url only %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <strong>Attention !</strong> Vous vous apprêtez à déplacer le dossier ayant pour chemin <em>/{{ object.path }}/</em>.
            </div>
            {% crispy form %}
            <p class="text-center">
                <button form="folderForm" type="submit" class="btn btn-success"><i aria-hidden="true" class="fa fa-share-square"></i> Déplacer le dossier</button>
            </p>
        </div>
  </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/form/select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle/js/form/move.min.js" %}"></script>
{% endblock %}