{% extends 'common/base.html' %}
{% load static %}
{% load l10n %}

{% block page_seo %}
    {% include 'common/title.html' with title="Liste des catégories" name=app.site.litteral_name only %}
{% endblock %}

{% block css_js_header %}
    <link rel="stylesheet" href="{% static "bundle/css/table.min.css" %}"/>
{% endblock %}

{% block page_title %}
    Liste des catégories
{% endblock %}

{% block quick_actions %}
{% if perms.association.add_category %}
    <a href="{% url 'category-new' %}" class="btn btn-success"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter</a>
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <table id="prettyTable" class="table table-bordered table-stripped responsive" aria-label="Liste des catégories">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur HTML</th>
                <th>Couleur Latex</th>
                <th>Position</th>
                {% if perms.association.change_category or perms.association.delete_category %}
                <th data-orderable="false">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td style="color: {{ category.color }};">{{ category.color }}</td>
                    <td>{{ category.latex_color_name }}</td>
                    <td>{{ category.position }}</td>
                    {% if perms.association.change_category or perms.association.delete_category %}
                    <td>
                        {% if perms.association.change_category %}
                        <a href="{% url 'category-update' category.id %}" data-toggle="tooltip" title="Modifier">
                            <i aria-hidden="true" class="fa fa-pencil"></i></a>
                        {% endif %}
                        {% if perms.association.delete_category %}
                        <a href="{% url 'category-delete' category.id %}" data-toggle="tooltip" title="Supprimer">
                            <i aria-hidden="true" class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "bundle/js/table.min.js" %}"></script>
{% endblock %}
